<div class="message">Howdy! Get started:</div>
<div class="grouping">
	<div class="user">
		<img src="<%= current_user.picture_url(:mini) %>" />
		<%= current_user.first_name %>
	</div>
	<div class="actions">
		<div class="left">
			<%= link_to  "Create", new_date_path, :class => "mj-button mojo" %> <span>a date</span>
		</div>
		<div class="right">
			<%= link_to "Join", search_dates_path, :class => "mj-button mojo" %> <span>a date</span>
		</div>
	</div>
</div>
