<div id="top-frame">
	<h2 class="tagline">Happy and dating.</h2>
	<div class="start-stepflow">
		<div class="quick-start">
			<div class="opaque-layer"></div>
			<div class="content-layer">
				<div class="title">Schedule your date:</div>
				<%= form_tag stepflow_path, :method => :get do %>
					<select name="stepflow[timerange][day]">
					<%
						0.upto 7 do |d|
							day = Date.today + d.days
					%>
						<option value="<%= day %>"><%= (d == 0)? "Today" : day.strftime("%a") %></option>
					<%
						end
					%>
					</select>
					<select name="stepflow[timerange][time_combined]">
						<option value="12:00-15:00">12-3 pm</option>
						<option value="15:00-18:00">3-6 pm</option>
						<option value="18:00-21:00" selected>6-9 pm</option>
					</select>
					<div class="submit">
						<button type="submit" class="mojo">Get excited</button>
					</div>
				<% end %>
			</div>
		</div>
		<div class="nav-info">
			<div class="numbers">
				<div>1</div>
				<div>2</div>
				<div>3</div>
			</div>	
			<div class="caption">...in 2 minutes</div>
		</div>
	</div>
</div>
<div id="usage-flow-comic">
	<div class="step-panel">
		<div class="caption"><div class="opaque-layer"></div><div class="text-layer">Your area</div></div>
	</div>
	<div class="step-panel">
		<div class="caption"><div class="opaque-layer"></div><div class="text-layer">Your time</div></div>
	</div>
	<div class="step-panel">
		<div class="caption"><div class="opaque-layer"></div><div class="text-layer">You just met someone.</div></div>
	</div>
</div>
<div id="flow">
	<div class="step">
		<img src="/images/icons/flow-date.png" alt="" />
		<div class="caption">Create or<br />join a (double-)date</div>
		<div class="link">➜</div>
	</div>
	<div class="step">
		<img src="/images/icons/flow-participant.png" alt="" />
		<div class="caption">Choose participant(s) or<br />wait to be selected</div>
		<div class="link">➜</div>
	</div>
	<div class="step">
		<img src="/images/icons/flow-message.png" alt="" />
		<div class="caption">Arrange last-minute details<br />without revealing your digits</div>
		<div class="link">➜</div>
	</div>
	<div class="step">
		<img src="/images/icons/flow-rate.png" alt="" />
		<div class="caption">Rate your date so we can improve your matches!</div>
	</div>
</div>
<div id="testimonials">
	<div class="block-left alternate-elements">
		<div class="promo-block">
			<img src="/images/icons/timer.png" />
			<div class="title">Timely &amp; Actual</div>
			<div class="text">We want you to spend as little time online as possible, and enjoy your time meeting people in the real world now. This is how we designed Mojo.</div>
		</div>
		<div class="promo-block" style="display: none;">
			<img src="/images/icons/gears.png" />
			<div class="title">Genuine &amp; Personal</div>
			<div class="text">Mojo establishes your profile using progressive personnality testing and feedback agregation. The more you use it, the more you meet people like you.</div>
		</div>
		<div class="promo-block" style="display: none;">
			<img src="/images/icons/privacy.png" />
			<div class="title">Less exposing</div>
			<div class="text">Only those wanting to join your activities or hosting an activity you are trying to join can find you on Mojo.</div>
		</div>
		<div class="promo-block" style="display: none;">
			<img src="/images/icons/key.png" />
			<div class="title">Safer</div>
			<div class="text">Not only are double-dates meant so you can bring your friends along, but you actually meet people without ever revealing your contact info or full name.</div>
		</div>
	</div>
	<div class="block-center">
		<div class="bigsparkle">⁑</div>
	</div>
	<div class="block-right">
		<!-- Twitter widget -->
		<script type="text/javascript">
			makkintosshu.twitterStatuses.tweetCount = 1;
		</script>
		<div id="mtaTwitter"></div>
		<script type="text/javascript" src="http://www.twitter.com/statuses/user_timeline/mojoapp.json?skip_user=true&amp;callback=makkintosshu.twitterStatuses.twitterCallback"></script>
	</div>
</div>
