<div id="top-frame">
	<h2 class="tagline">Happy and dating.</h2>
	<div class="quick-start">
		<div class="opaque-layer"></div>
		<div class="content-layer">
			<div class="title">When are you free?</div>
			<%= form_tag stepflow_path do %>
				<select name="day">
					<option>Today</option>
				</select>
				<select name="timeframe">
					<option>6-9 pm</option>
				</select>
				<div class="submit">
					<button type="submit" class="mojo">Get excited</button>
				</div>
			<% end %>
		</div>
	</div>
</div>
<div id="usage-flow-comic">
	<div class="step-panel">
		<div class="caption"><div class="opaque-layer"></div><div class="text-layer">Your area</div></div>
	</div>
	<div class="step-panel">
		<div class="caption"><div class="opaque-layer"></div><div class="text-layer">Your time</div></div>
	</div>
	<div class="step-panel">
		<div class="caption"><div class="opaque-layer"></div><div class="text-layer">You just met someone.</div></div>
	</div>
</div>
<div id="flow">
	<div class="step">
		<img src="/images/icons/flow-date.png" alt="" />
		<div class="caption">Create or<br />join a (double-)date</div>
		<div class="link">➜</div>
	</div>
	<div class="step">
		<img src="/images/icons/flow-participant.png" alt="" />
		<div class="caption">Choose participant(s) or<br />wait to be selected</div>
		<div class="link">➜</div>
	</div>
	<div class="step">
		<img src="/images/icons/flow-message.png" alt="" />
		<div class="caption">Arrange last-minute details<br />without revealing your number</div>
		<div class="link">➜</div>
	</div>
	<div class="step">
		<img src="/images/icons/flow-rate.png" alt="" />
		<div class="caption">Rate your date so we can improve your matches!</div>
	</div>
</div>
<div id="testimonials">
	<div class="block-left alternate-elements">
		<div class="promo-block">
			<img src="/images/icons/timer.png" />
			<div class="title">Timely &amp; Actual</div>
			<div class="text">We want you to spend as little time online as possible, and enjoy your time meeting people in the real world now. This is how we designed Mojo.</div>
		</div>
		<div class="promo-block" style="display: none;">
			<img src="/images/icons/gears.png" />
			<div class="title">Genuine &amp; Personal</div>
			<div class="text">Mojo establishes your profile using progressive personnality testing and feedback agregation. The more you use it, the more you meet people like you.</div>
		</div>
		<div class="promo-block" style="display: none;">
			<img src="/images/icons/privacy.png" />
			<div class="title">Less exposing</div>
			<div class="text">Only those wanting to join your activities or hosting an activity you are trying to join can find you on Mojo.</div>
		</div>
		<div class="promo-block" style="display: none;">
			<img src="/images/icons/key.png" />
			<div class="title">Safer</div>
			<div class="text">Not only are double-dates meant so you can bring your friends along, but you actually meet people without ever revealing your contact info or full name.</div>
		</div>
	</div>
	<div class="block-center">
		<div class="bigsparkle">⁑</div>
	</div>
	<div class="block-right">
		<div class="bigsparkle">⁂</div>
	</div>
</div>
<!--
<div id="promo-twin-set">
	<div class="promo-panel">
		<div class="startline">Mojo is...</div>
		<dl>
			<dt><img src="/images/icons/timer.png" />Timely &amp; Actual<dt>
			<dd>We want you to spend as little time online as possible, and enjoy your time meeting people in the real world now. This is how we designed Mojo.</dd>
			<dt><img src="/images/icons/gears.png" />Genuine &amp; Personal<dt>
			<dd>Mojo establishes your profile using progressive personnality testing and feedback agregation. The more you use it, the more you meet people like you.</dd>
			<dt><img src="/images/icons/privacy.png" />Less exposing<dt>
			<dd>Only those wanting to join your activities or hosting an activity you are trying to join can find you on Mojo.</dd>
			<dt><img src="/images/icons/key.png" />Safe<dt>
			<dd>Not only are team activities meant so you can bring your friends along, but you actually meet people without ever revealing your contact info or full name.</dd>
		</dl>
		<div class="endline"></div>
	</div>
	<div class="promo-panel">
		<div class="panel-title">How does it work?</div>
		<div class="tab-widget">
			<div class="tab-button">
				<div class="selected">Joining an activity</div>
				<div>Creating an activity</div>
			</div>
			<div class="tab-content">
				<ol>
					<li><span class="bullet">➊</span><span class="text">Confirm your location</span></li>
					<li><span class="bullet">➋</span><span class="text">Choose a time range</span></li>
					<li><span class="bullet">➌</span><span class="text">Select your host and activity</span></li>
					<li><span class="bullet">➍</span><span class="text">Once you are accepted, follow directions to attend</span></li>
				</ol>
				<ol style="display: none;">
					<li><span class="bullet">➊</span><span class="text">Enter type of activity, place and time</span></li>
					<li><span class="bullet">➋</span><span class="text">Enter activity description</span></li>
					<li><span class="bullet">➌</span><span class="text">Select who you want to join your activity</span></li>
					<li><span class="bullet">➍</span><span class="text">They instantly receive directions to your activity</span></li>
				</ol>
			</div>
		</div>
	</div>
</div>
-->
