<div class="team-block">
	
	<h2>The Mojotos</h2>
	
	<div class="members">
		
		<div class="member">
			<div class="picture" style="background-image: url(/assets/profile/tarik.jpg);">
				<div class="name">Tarik Ansari</div>
				<div class="role">Co-founder, CEO</div>
			</div>
			<div class="follow"><a href="http://twitter.com/tarikjn"><img src="/assets/twitter_newbird_blue_32.png" alt="Follow tarikjn on Twitter"/></a></div>
			<div class="bio">
				<p>
					Tarik is a born entrepreneur and engineer from France. Very recently, he directed the short documentary film <a href="http://startingupinamerica.com">Starting-Up in America</a>. Tarik joined the Bay Area in late 2007 and was involved with product engineering for multiple consumer web companies, including <a href="http://www.ebay.com">eBay</a>, <a href="http://www.vidyo.com">Vidyo</a> and <a href="http://kei.com">Headroom</a>.
				</p>
				<p>
					Tarik studied abroad in England, Mexico and China before obtaining a Master's of Computer Science from <a href="http://www.efrei.fr">EFREI</a> at age 20.
				</p>
				<p>
					Two years in college, Tarik built and launched the first European teacher review website, which grew virally amid controversy. In high-school, Tarik was operating a thriving web hosting company he bootstrapped from his dorm room.
				</p>
			</div>
		</div>
	
		<div class="member even">
			<div class="picture" style="background-image: url(/assets/profile/jordan.jpg);">
				<div class="name">Jordan Wright</div>
				<div class="role">Co-founder, Executive VP</div>
			</div>
			<div class="follow"><a href="http://twitter.com/j_wright"><img src="/assets/twitter_newbird_blue_32.png" alt="Follow j_wright on Twitter"/></a></div>
			<div class="bio">
			
				<p>
					Jordan is an avid skydiver with a passion for excitement and marketing. Previously, Jordan was involved in Marketing research at the <a href="http://www.latimes.com/">Los Angeles Times</a>.
				</p>
				<p>	
					Jordan has been featured on Jay Leno’s <a href="http://www.nbc.com/the-tonight-show/">Tonight Show</a> for winning the “Pitch to America” sales pitch competition two years in a row (2008 &amp; 2009).
				</p>
				<p>
					After graduating in marketing from <a href="http://www.gonzaga.edu">Gonzaga University</a>, Jordan founded The Book LLC, a marketing vehicle which connected businesses exclusively to college students. He was able to bootstrap finance the project over the course of a year with over $60k of winnings he earned as an aspiring poker pro.
				</p>
			
			</div>
		</div>
	
		<div class="member even">
			<div class="picture" style="background-image: url(/assets/profile/anna.jpg);">
				<div class="name">Anna Hennings</div>
				<div class="role">Editorial Director</div>
			</div>
			<div class="follow"><a href="http://twitter.com/tallanna"><img src="/assets/twitter_newbird_blue_32.png" alt="Follow tallanna on Twitter"/></a></div>
			<div class="bio">
			
				<p>
					Anna is a writer and grammar nerd who's passionate about living, traveling and sharing wisdom about dating and relationships.
				</p>
				<p>
					She is the co-author of <a href="http://excelle.monster.com/news/articles/4449-the-professional-womens-guide-to-dating">The Professional Women's Guide to Dating</a> and <a href="http://excelle.monster.com/news/articles/3759-online-dating-why-and-how-to-do-it">Online Dating: Why and How to Do It</a>, and has also published front-page features on <a href="http://www.yahoo.com/">Yahoo.com</a> and the <a href="http://www.good.is/magazine">GOOD magazine</a> blog.
				</p>
				<p>
					Raised by sexuality educators, Anna has worked with the award-winning sex accessory company <a href="http://www.jimmyjane.com/">Jimmyjane</a>. She is also the founder of <a href="http://whereloveis.tumblr.com/">WhereLoveIs</a>, a blog that shows you love can be found in the most unexpected places.
				</p>
			
			</div>
		</div>
		
	</div>
	
</div>
