<div class="small-form password-reset">
	<%= flash_messages %>
	<h2>Forgot your password?</h2>
	<p>Enter your email below and instructions to reset your password will be emailed to you:</p>
	<div class="box">
		<%= form_tag password_resets_path do %>
			<% if @single_error %>
				<div class="errors"><ul><li><%= @single_error %></li></ul></div>
			<% end %>
			<div class="line">
				<%= text_field_tag :email, nil, :size => nil %>
				<button type="submit" class="mj-button mojo">Next</button>
			</div>
		<% end %>
	</div>
</div>
