<h3>Entries</h3>
<div class="remaining-time"><%= distance_of_time_in_words Time.now, @sortie.time %> left</div>
<div class="participants-view">
	<div class="sortie-box">
		<div class="title"><%= @sortie.title %></div>
		<div class="content">
			<div class="hosts full-width">
				<%= render :partial => 'users/user', :collection => @sortie.hosts, locals: {kind: :host} %>
			</div>
			<!-- for some reason, .spot needs to be bellow the draggable for the whole zone to be droppable -->
			<div class="spot" id="drop-invite" data-action="invite"></div>
		</div>
	</div>

	<div class="participants-viewport">
		<div class="spacer">
			<div class="participants">
			<%= render :partial => 'waitlist' %>
			</div>
		</div>
	</div>

	<div class="eject">
		<div class="symbol" id="drop-pass" data-action="pass"><span>⏏</span></div>
		<div class="title">Good luck!</div>
	</div>
</div>
