.full-width > .person.partial {
	
	width: auto;
	float: none;
	margin-top: 0;
}

.person.partial {
	
	margin-top: 8px;
	float: left;
	width: 50%;
	
	> .box, .profile {
		@include rounded;
		border: 1px solid $border-gray;
	}
	
	> .box {
		padding: 3px;
		position: relative;
		background: white;
		
		> .picture, > .title, > .compatibility {
			display: inline-block;
			vertical-align: middle;
		}

		> .picture {
			height: 48px; width: 48px;

			img {
				&.open {
					width: 46px; height: 46px;
					border: 1px solid $border-gray;
					background: #E5EEFF;
				}
			}
		}

		> .title {
			.name {
				font-size: 115%;
				overflow: hidden;
			}
			.type {
				font-size: 85%;
				color: gray;
			}
			.reputation {
				font-size: 65%;
				color: gray;
			}
		}
		
		> .compatibility {
			position: absolute !important;
			right: 3px; bottom: 5px;
			//margin-left: 5px;
		}
		
		> .profile {
			display: none;
			position: absolute;
			top: -7px; left: -7px;
		}
		
		// for both .box and .profile
		span.reputation {
			display: inline-block;
			width: 12px; height: 12px;
			@include rounded(4px);
			background: rgb(0, 255, 0);
		}
		.compatibility {
			display: inline-block;
			font-size: 20px;
			line-height: 30px;
			position: relative;

			// ua-generated pie image
			.canvas {
				position: absolute;
				top: 0;
				//top:0; left:0;
				//width: 30px;
				//height: 30px;

			}
			.score {
				vertical-align: middle;
				//z-index: 10;
				//z-index: 100;
				opacity: .65;
				margin-left: 2px;

				.percent {
					font-size: 65%;
				}
			}
		}
		
		&:hover {
			//border-color: gray;
			
			> .profile {
				display: block;
			}
		}
	}
	
	&.relation > .box {
		background: $lighter-gray;
	}
	
	&:nth-of-type(2n) {
		> .box { margin-left: 5px; }
	}
}

.person.partial > .box > .profile, .profile-block > .box {
	border: 5px solid rgba(0, 0, 0, .25);
	width: 305px;
	
	z-index: 10;
	
	.box {
		background: white;
		padding: 5px;
		min-height: 130px;
	}
	
	.compatibility {
		vertical-align: top;
	}
	
	.avatar {
		position: absolute;
	}
	
	.avatar .name {
		text-align: center;
		font-size: 120%;
		margin-top: 5px;
	}
	
	.details {
		margin-left: 108px;
		
		.columns {
			@include clear-after;
			margin-bottom: 5px;
			.col-0 {
				float: left;
				font-size: 80%;
				color: gray;
			}
			.col-1 {
				float: right;
				width: 45px;
				text-align: left;
			}
		}
	}
	
	.follow {
		margin-top: 12px; // + 35px;
		margin-right: 5px;
		text-align: right;
	}
}

.preview .foodia {
	width: 198px;
}

.foodia {
	margin-top: 8px;
	
	border: 1px solid $border-gray;
	@include rounded;
	margin-right: 5px;
	
	ul {
		margin: 0;
		padding: 0;
		@include clear-after;
		
		li {
			list-style-type: none;
			float: left;
			width: 80px;
			padding: 5px;
			
			a { display: block; }
			
			.image {
				position: relative;
				margin: 0 15px 5px;
				width: 50px; height: 50px;
				background-position: center center;
				@include rounded(10px);
				border: 1px solid $lighter-gray;
			}
			.name {
				text-align: center;
				font-size: 70%;
				
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
			}
		}
	}
	
	.foot {
		background: $border-gray;
		padding: 2px 3px;
		font-size: 65%;
		color: gray;
		text-align: right;
	}
}
