/*
 * Vars
 */
/*
 * Mixins
 */
/*
 * General elements
 */
body {
  background-image: url(/images/body-gradient.png);
  background-color: #E6E6E6;
  background-repeat: repeat-x;
  background-position: bottom center;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: black;
  padding: 0;
  margin: 0; }

a {
  color: #0080FF;
  text-decoration: none; }
  a:hover {
    background: #F1FCFF; }

.auto-margin-cell {
  width: 900px;
  margin: 0 auto; }

.clearing-block {
  clear: both;
  /*
  TODO: 
  use CSS3 clear-after
  or http://www.quirksmode.org/css/clearing.html
  or http://www.cs.hmc.edu/~mbrubeck/clear-after/
  */ }

#head-content {
  background: black;
  color: white;
  padding-top: 8px; }
  #head-content .auto-margin-cell {
    position: relative; }
  #head-content #logo-wrapper {
    color: transparent;
    font-size: 132.5%;
    overflow: hidden;
    position: relative;
    height: 23px;
    width: 64px;
    background: url(/images/mojo-logo.png); }
    #head-content #logo-wrapper a {
      color: transparent;
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0; }
      #head-content #logo-wrapper a:hover {
        background: transparent; }
  #head-content #auth-links {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: .80em;
    font-family: "Lucida Grande";
    font-weight: bold;
    padding-bottom: 4px;
    text-transform: lowercase; }
    #head-content #auth-links a {
      color: #e6e6e6;
      margin-left: 8px;
      display: inline-block; }
      #head-content #auth-links a:hover {
        background: transparent;
        color: white; }

#main-content {
  padding: 10px 0;
  min-height: 250px; }

#foot-content {
  margin-top: 25px;
  padding: 0 0 33px; }
  #foot-content .auto-margin-cell {
    border-top: 1px solid #e6e6e6;
    position: relative;
    padding-top: 15px; }
  #foot-content #copyright-notice {
    position: absolute;
    top: 15px;
    right: 0;
    font-size: 70%;
    text-align: right;
    color: gray;
    text-shadow: 1px 1px 0px white; }
  #foot-content .footer-links a {
    color: gray; }
    #foot-content .footer-links a:hover {
      background: transparent;
      text-decoration: underline; }
  #foot-content .footer-links > .section {
    width: 135px;
    float: left;
    font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    font-size: .80em; }
    #foot-content .footer-links > .section .title {
      font-weight: bold;
      color: #636363; }
    #foot-content .footer-links > .section ul {
      margin: .5em 0 0;
      padding: 0;
      line-height: 1.5em; }
      #foot-content .footer-links > .section ul li {
        list-style-type: none; }
  #foot-content .footer-links > .clearing-block {
    clear: both; }

/*
 * Title elements
 */
h2, h3 {
  font-family: brevia-1, brevia-2, sans-serif; }

/*
 * Message boxes
 */
.msg-info {
  display: inline-block;
  margin-left: 6px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #231f20;
  font-size: .75em;
  padding: 8px;
  background: #fffdbf;
  margin-top: 6px;
  border: 1px outset #FF0; }
  .msg-info:before {
    content: "▴";
    font-size: 32px;
    color: #FF0;
    position: absolute;
    margin-top: -36px; }

/*
 * Mockup elements
 */
/* usage flow comic, homepage */
#usage-flow-comic {
  margin-bottom: 25px; }

#usage-flow-comic .step-panel {
  float: left;
  width: 288px;
  margin-right: 12px;
  border: 2px solid gray;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  height: 280px;
  background: #ededed url(/images/sf_scene.jpg);
  position: relative; }

#usage-flow-comic .step-panel:nth-of-type(2) {
  background-position: -300px 0; }

#usage-flow-comic .step-panel:last-of-type {
  margin-left: 608px;
  margin-right: 0;
  float: none;
  background-position: -600px 0; }

#usage-flow-comic .step-panel .caption {
  color: white;
  padding: 5px 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; }

#usage-flow-comic .step-panel:last-of-type .caption {
  text-align: right; }

#usage-flow-comic .step-panel .caption div.opaque-layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: gray;
  opacity: .8;
  z-index: 0; }

#usage-flow-comic .step-panel .caption div.text-layer {
  color: white;
  position: relative; }

/* "Mojo is...", homepage */
#promo-twin-set {
  margin-top: 35px;
  position: relative; }

#promo-twin-set .promo-panel {
  width: 400px;
  padding: 0 50px 0 0;
  border-right: 1px dashed gray; }

#promo-twin-set .promo-panel:last-of-type {
  position: absolute;
  right: 0;
  top: 0;
  border-right: none;
  padding: 0 0 0 49px; }

#promo-twin-set .promo-panel .startline,
#promo-twin-set .promo-panel .panel-title {
  font-size: 125%;
  font-family: brevia-1, brevia-2, sans-serif; }

#promo-twin-set .promo-panel .endline {
  text-align: right; }

.promo-panel dl {
  margin-left: 36px; }

.promo-panel dt img {
  position: absolute;
  margin-left: -38px;
  margin-top: 10px; }

.promo-panel dd {
  margin-left: 0;
  margin-bottom: 10px;
  font-size: 80%;
  color: #6A6A6A;
  text-align: justify; }

.promo-panel ol {
  padding-left: 1em; }

.promo-panel ol li {
  margin-bottom: 10px;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  position: relative; }

.promo-panel ol li .bullet {
  position: absolute;
  font-size: 22px;
  color: gray;
  top: -4px; }

.promo-panel ol li .text {
  display: block;
  margin-left: 1.75em; }

.tab-widget {
  margin-top: 25px; }

.tab-widget .tab-content {
  padding: 10px;
  border: 2px solid gray;
  border-radius: 0 8px 8px 8px;
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  background: #F9F9F9;
  position: relative; }

.tab-widget .tab-button {
  margin-bottom: -3px;
  position: relative; }

.tab-widget .tab-button > div {
  display: inline-block;
  position: relative;
  top: 0;
  background: #ABABAB;
  color: white;
  border-radius: 8px 8px 0 0;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  border-bottom: none;
  padding: 5px 9px 3px;
  cursor: default; }

.tab-widget .tab-button div.selected {
  background: gray;
  font-size: 1em;
  top: -3px; }

.tab-widget .tab-button div:not(.selected):hover {
  background: #9B9B9B; }

.stepflow-frame {
  padding: 0 50px;
  border: dashed #E6E6E6;
  border-width: 0 1px; }
  .stepflow-frame .form-item {
    padding: 10px 15px;
    position: relative; }
    .stepflow-frame .form-item:not(:first-of-type) {
      border-top: 1px solid #CCC; }

#anim .stepflow-frame {
  padding: 0;
  position: relative;
  overflow: hidden; }
  #anim .stepflow-frame .sliding {
    width: 1796px;
    position: relative;
    left: 0; }
    #anim .stepflow-frame .sliding > div {
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      background: gray;
      color: white;
      width: 698px;
      margin: 0 50px;
      display: inline-block;
      height: 500px;
      padding: 50px; }
  #anim .stepflow-frame > .gradient {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
    #anim .stepflow-frame > .gradient > div {
      width: 50px;
      position: absolute;
      top: 0;
      bottom: 0; }
    #anim .stepflow-frame > .gradient > .left {
      left: 0; }
    #anim .stepflow-frame > .gradient > .right {
      right: 0; }

.form-inputs {
  border: 2px groove gray;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  margin: 0 0 10px;
  padding: 5px 0;
  background: #F9F9F9; }

.column-titles .form-item > .title {
  position: absolute;
  text-align: right;
  width: 125px; }

.column-titles .form-item > .hybrid-input {
  margin-left: 150px;
  margin-top: 0;
  padding: 0;
  background: transparent; }

.column-titles .form-item > .hybrid-input > input[type=text] {
  width: 400px; }

.column-titles .form-item > .hybrid-input > textarea {
  width: 400px;
  height: 100px; }

.stepflow-position {
  position: relative; }

.stepflow-position button {
  padding: 5px 10px;
  font-size: 1.05em;
  background: url(/images/buttons/button-next.png);
  height: 35px;
  width: 183px;
  text-align: left;
  border: none; }

.stepflow-position button.previous {
  background: url(/images/buttons/button-previous.png);
  text-align: left;
  padding-left: 20px; }

.stepflow-position button:hover {
  background-position: 0 35px; }

.stepflow-position button:active {
  position: relative;
  top: 1px; }

.stepflow-position button:disabled {
  color: gray; }

.stepflow-position .previous a {
  font-size: .80em; }

.stepflow-position .previous {
  position: absolute;
  top: 0;
  left: 0; }

.stepflow-position .next {
  position: absolute;
  top: 0;
  right: 0; }

.stepflow-position .list {
  margin: 0 auto;
  position: relative;
  width: 210px; }

.stepflow-position .list ol {
  margin: 0;
  padding: 0;
  width: 210px; }

.stepflow-position .list li {
  float: left;
  width: 70px;
  list-style-type: none;
  text-align: center;
  font-size: .65em;
  padding: 0; }

.stepflow-position .list li:first-of-type {
  text-align: right; }

.stepflow-position .list li:last-of-type {
  text-align: left; }

.stepflow-position .list li .step-bullet {
  font-size: 20px;
  padding-bottom: 5px; }

.stepflow-position .list li {
  color: gray; }

.stepflow-position .list li.current {
  color: black; }

.stepflow-time-remaining {
  clear: both;
  text-align: center;
  padding-top: 12px;
  font-size: .70em; }
  .stepflow-time-remaining span {
    padding: 2px 6px;
    background: #E6E6E6;
    color: gray;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; }

.ajax-loading {
  position: relative;
  top: 6px;
  right: -220px;
  display: none; }

.hybrid-input {
  margin-top: 10px; }

.mj-merged-choices.hybrid-input {
  margin-top: 0; }

.hybrid-input .inset-title {
  position: absolute;
  color: gray;
  text-shadow: 1px 1px 0px white;
  font-size: .85em;
  background: #F9F9F9;
  border-radius: 5px;
  padding: 2px 5px; }

.inline-radio-container {
  display: inline-block;
  padding: 12px 5px 12px 15px; }

.clear-inline-radio-container {
  display: inline-block;
  padding: 0;
  background: transparent; }

.clear-inline-radio-container input[type=radio] {
  display: none; }

.vertical-radio-container {
  display: inline-block;
  padding: 12px 15px 2px;
  vertical-align: top;
  margin-right: 10px; }

.vertical-radio-container label {
  display: block !important;
  margin: 0 0 10px !important; }

.form-inputs input[type=text] {
  font-size: 1.2em; }

.follow-container {
  display: inline-block; }

/*
 * time range input
 */
.mj-timeline-input {
  position: relative;
  height: 56px;
  margin-top: 15px; }
  .mj-timeline-input button {
    position: absolute;
    height: 56px;
    width: 16px;
    top: 0;
    font-size: 10px;
    vertical-align: middle;
    line-height: 50px;
    padding: 3px;
    text-align: center;
    border: none; }
    .mj-timeline-input button.slide-after {
      right: 0;
      background: url(/images/buttons/timeline-slide-next.png); }
    .mj-timeline-input button.slide-before {
      left: 0;
      background: url(/images/buttons/timeline-slide-prev.png); }
    .mj-timeline-input button:hover {
      background-position: 0 56px; }
    .mj-timeline-input button:disabled {
      color: gray;
      background-position: 0 0 !important; }
    .mj-timeline-input button:not(:disabled):active {
      top: 1px; }
  .mj-timeline-input .view-container {
    position: absolute;
    left: 16px;
    right: 16px;
    background: #f9f9f9;
    top: 0;
    bottom: 0;
    overflow-x: hidden; }
    .mj-timeline-input .view-container .day-title {
      margin: 4px 8px 0; }
    .mj-timeline-input .view-container .timeline-container {
      position: relative;
      width: 200%; }
      .mj-timeline-input .view-container .timeline-container .timeline-bar {
        background: white;
        border: solid gray;
        border-width: 1px 0 1px 0;
        height: 12px;
        margin: 0 8px; }
      .mj-timeline-input .view-container .timeline-container .timeline-marks {
        position: absolute;
        top: 1px;
        z-index: 2; }
        .mj-timeline-input .view-container .timeline-container .timeline-marks .mark {
          float: left;
          width: 49px;
          /* 24px on each side of the mark */
          position: relative;
          margin-left: 1px;
          /* +1px for the half-mark */ }
          .mj-timeline-input .view-container .timeline-container .timeline-marks .mark .line {
            height: 12px;
            background: gray;
            width: 1px;
            margin: 0 auto; }
          .mj-timeline-input .view-container .timeline-container .timeline-marks .mark .title {
            text-align: center;
            padding-top: 3px;
            font-size: .70em; }
          .mj-timeline-input .view-container .timeline-container .timeline-marks .mark .line-quarter, .mj-timeline-input .view-container .timeline-container .timeline-marks .mark .line-3rd-quarter {
            height: 6px;
            width: 0;
            border-left: 1px dotted gray;
            position: absolute;
            top: 6px;
            left: 36px; }
          .mj-timeline-input .view-container .timeline-container .timeline-marks .mark .line-3rd-quarter {
            left: 60px; }
          .mj-timeline-input .view-container .timeline-container .timeline-marks .mark .line-half {
            height: 10px;
            width: 0;
            border-left: 1px dotted gray;
            position: absolute;
            top: 2px;
            left: 48px; }
      .mj-timeline-input .view-container .timeline-container .elapsed-and-current-time {
        height: 12px;
        width: 150px;
        background: #ccc;
        position: absolute;
        top: 1px;
        left: 8px;
        border-right: 2px solid red;
        z-index: 1; }
      .mj-timeline-input .view-container .timeline-container .selected-time {
        width: 100px;
        background: #e1ecff;
        height: 18px;
        position: absolute;
        top: -2px;
        left: 300px;
        opacity: .8;
        cursor: move;
        z-index: 3; }
        .mj-timeline-input .view-container .timeline-container .selected-time .start-hand, .mj-timeline-input .view-container .timeline-container .selected-time .stop-hand {
          width: 3px;
          height: 18px;
          background: #0080FF;
          position: absolute;
          cursor: ew-resize;
          /* make resize area bigger */ }
        .mj-timeline-input .view-container .timeline-container .selected-time .start-hand {
          left: 0; }
        .mj-timeline-input .view-container .timeline-container .selected-time .stop-hand {
          right: 0; }
    .mj-timeline-input .view-container .activities {
      position: absolute;
      top: -18px;
      z-index: 2;
      left: 160px; }
      .mj-timeline-input .view-container .activities .activity {
        float: left;
        color: gray; }
        .mj-timeline-input .view-container .activities .activity.scoped {
          color: #0080FF; }

/*
 * standard radio
 */
label.mj-choice {
  position: relative;
  display: inline-block;
  border: 2px solid #e6e6e6;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  vertical-align: middle;
  margin-right: 10px;
  background: #f9f9f9;
  color: gray;
  padding: 2px 8px; }
  label.mj-choice img {
    vertical-align: middle; }
  label.mj-choice input {
    vertical-align: middle;
    display: inline-block; }
  label.mj-choice.new {
    position: relative;
    padding-left: 21px;
    margin-right: 5px; }
    label.mj-choice.new input {
      position: absolute;
      height: 20px;
      margin-top: -10px;
      top: 50%;
      left: 5px; }
  label.mj-choice .person {
    display: inline-block;
    text-align: center;
    width: 50px; }
    label.mj-choice .person .img {
      height: 32px;
      background: center 0 no-repeat; }
    label.mj-choice .person .title {
      font-size: .85em; }
    label.mj-choice .person.host .img {
      background-image: url(/images/icons/person.png); }
    label.mj-choice .person.host.male .img {
      background-image: url(/images/icons/guy.png); }
    label.mj-choice .person.host.female .img {
      background-image: url(/images/icons/gal.png); }
    label.mj-choice .person.guest .img {
      background-image: url(/images/icons/person_guest.png); }
    label.mj-choice .person.guest .title {
      color: #e6e6e6; }
    label.mj-choice .person.guest.male .img {
      background-image: url(/images/icons/guy_guest.png); }
    label.mj-choice .person.guest.female .img {
      background-image: url(/images/icons/gal_guest.png); }
  label.mj-choice.selected {
    border-color: gray;
    background: white !important;
    color: black; }
    label.mj-choice.selected .person.guest .title {
      color: #cdcdcd; }
    label.mj-choice.selected .person.host:hover {
      background: #e1ecff;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      cursor: pointer; }

/*
 * merged radios
 */
.mj-merged-choices {
  display: inline-block; }
  .mj-merged-choices label {
    display: inline-block;
    position: relative;
    border: 1px solid #e6e6e6;
    background: #f9f9f9;
    color: gray;
    border-width: 1px 0 1px 0;
    padding: 2px 5px; }
    .mj-merged-choices label.selected {
      background: white;
      border-color: gray;
      color: black; }
    .mj-merged-choices label:first-of-type {
      border-left-width: 1px;
      -moz-border-radius: 5px 0 0 5px;
      -webkit-border-radius: 5px 0 0 5px;
      border-radius: 5px 0 0 5px; }
    .mj-merged-choices label:last-of-type {
      border-right-width: 1px;
      -moz-border-radius: 0 5px 5px 0;
      -webkit-border-radius: 0 5px 5px 0;
      border-radius: 0 5px 5px 0; }
    .mj-merged-choices label > * {
      display: inline-block; }
    .mj-merged-choices label input {
      position: absolute;
      top: 50%;
      height: 20px;
      margin-top: -10px; }
    .mj-merged-choices label .person {
      margin-left: 20px; }
      .mj-merged-choices label .person .img {
        text-align: center; }
      .mj-merged-choices label .person .title {
        font-size: .85em;
        text-align: center; }

.mj-operation-choices {
  display: table;
  margin: 15px auto 10px !important; }
  .mj-operation-choices > label {
    font-size: 1.25em;
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    color: #afafaf;
    border: solid 1px #555;
    background: #6e6e6e;
    background: -webkit-gradient(linear, left top, left bottom, from(#888888), to(#575757));
    background: -moz-linear-gradient(top, #888888, #575757);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757');
    padding: 8px 10px 8px 5px;
    /*border: 2px #FF8000 outset;
    
    background: orange;*/ }
    .mj-operation-choices > label.selected {
      color: #e9e9e9;
      background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888888));
      background: -moz-linear-gradient(top, #575757, #888888);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#888888'); }
    .mj-operation-choices > label input {
      vertical-align: center; }
    .mj-operation-choices > label strong {
      font-weight: normal;
      font-size: 1.15em; }
    .mj-operation-choices > label .count {
      font-size: .75em; }
    .mj-operation-choices > label.selected {
      /*background: white;
      border-style: inset;
      color: black;*/ }

/*
 * subset form
 */
.subset-form-arrow {
  content: "▴";
  font-size: 32px;
  color: gray;
  position: absolute;
  left: 54px;
  margin-top: -17px; }

.subset-form {
  background: white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px outset gray;
  padding: 5px 8px;
  margin-top: 10px;
  position: relative;
  font-size: .85em;
  display: none; }
  .subset-form.active {
    display: block; }

/*
 * grid
 */
.gridded-line {
  position: relative;
  margin: 10px 0; }
  .gridded-line.topsize-line {
    line-height: 35px;
    vertical-align: middle; }
  .gridded-line.equalize-line {
    height: 60px; }
  .gridded-line .col-1, .gridded-line .col-2, .gridded-line .col-3 {
    position: absolute;
    top: 0; }
  .gridded-line .col-1 {
    left: 110px; }
  .gridded-line .col-2 {
    left: 250px; }
  .gridded-line .col-3 {
    left: 450px; }

.friend .gridded-line .col-1 {
  left: 150px; }
.friend .gridded-line .col-2 {
  left: 370px; }
.friend .gridded-line .col-3 {
  left: 490px; }

/*
 * text inputs
 */
input.age-text-input {
  width: 2em; }

label.mj-check-roll {
  padding: 2px;
  font-size: .85em; }
  label.mj-check-roll:hover {
    background: #e1ecff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; }

.mj-height-input {
  display: inline-block;
  font-size: .85em; }
  .mj-height-input .ft-text-input {
    width: 1em; }
  .mj-height-input .in-text-input {
    width: 2em; }
  .mj-height-input .unit {
    color: gray; }

/*
 * selects drop-downs
 */
.mj-select-container {
  position: relative;
  display: inline-block; }
  .mj-select-container .after {
    color: white;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -10px;
    line-height: 20px;
    height: 20px;
    vertical-align: middle;
    border-left: 1px solid white;
    padding-left: 8px; }

select.mj-category-select {
  font-size: 1.25em;
  -webkit-appearance: none;
  border: solid 1px #555;
  padding: 15px 45px 15px 57px;
  background: 10px center url(/images/icons/food-and-drinks_white.png) no-repeat, -webkit-gradient(linear, left top, left bottom, from(#888888), to(#575757)), 0 center url(/images/icons/food-and-drinks_white.png) no-repeat;
  color: #e9e9e9;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }
  select.mj-category-select[value=food-and-drinks] {
    background-image: url(/images/icons/food-and-drinks_white.png); }
  select.mj-category-select[value=entertainment] {
    background-image: url(/images/icons/entertainment_white.png); }
  select.mj-category-select[value=outdoor] {
    background-image: url(/images/icons/outdoor_small.png); }

.afterr {
  color: white;
  position: absolute;
  top: 50%;
  right: 0; }

.start-process {
  position: relative; }
  .start-process > .title {
    font-family: brevia-1, brevia-2, sans-serif;
    font-size: 1.30em; }

.start-process .hybrid-input {
  margin-top: 0;
  margin-right: 155px; }

.start-process .next {
  position: absolute;
  right: 0;
  bottom: 0;
  padding-bottom: 5px; }

.start-process .next button {
  padding: 5px 12px;
  font-size: 1.05em;
  background: url(/images/buttons/button-start.png);
  height: 56px;
  width: 145px;
  text-align: left;
  border: none;
  font-size: 1.20em; }

.start-process .next button:hover {
  background-position: 0 56px; }

.start-process .next button:active {
  position: relative;
  top: 1px; }

.mj-location-input {
  position: relative;
  background: transparent;
  padding: 0; }
  .mj-location-input #map_canvas {
    height: 350px;
    margin-right: 250px; }
    .mj-location-input #map_canvas.city-only {
      height: 250px; }
  .mj-location-input .map-side {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 245px; }
    .mj-location-input .map-side .selected-subset {
      padding: 5px 8px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      background: #f9f9f9;
      border: 1px solid #e6e6e6;
      margin-bottom: 10px; }
      .mj-location-input .map-side .selected-subset .title {
        font-size: .85em;
        margin-bottom: 5px; }
      .mj-location-input .map-side .selected-subset .item {
        min-height: 27px;
        background: url(/images/icons/location-selected.png) no-repeat 5px center;
        vertical-align: middle;
        font-size: .85em;
        background-color: white;
        padding: 5px 5px 5px 29px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px; }
        .mj-location-input .map-side .selected-subset .item .name {
          font-weight: bold; }
        .mj-location-input .map-side .selected-subset .item .state {
          font-size: .85em; }
      .mj-location-input .map-side .selected-subset.operating {
        background: white; }
    .mj-location-input .map-side .search input {
      width: 206px;
      font-size: .75em;
      border-radius: 12px;
      padding: 2px 2px 2px 19px;
      background: url(/images/icons/search.png) 4px center no-repeat white; }
      .mj-location-input .map-side .search input.tip {
        color: gray; }

.mj-location-input.address-view #map_canvas {
  height: 350px;
  margin-left: 250px;
  margin-right: 0; }
.mj-location-input.address-view .map-side {
  right: auto;
  left: 0; }

.hybrid-input .subinput {
  display: inline-block; }

.hybrid-input .subinput .title {
  font-size: .75em;
  color: gray; }

.form-inputs input[type=email] {
  font-size: 1.2em;
  width: 300px; }

.form-inputs input.mj-input-phone {
  font-size: 1.3em;
  width: 200px !important; }

.hybrid-input .subinput select {
  font-size: 1.2em; }

.mj-picture-tool {
  display: inline-block;
  position: relative;
  margin-top: 10px;
  height: 194px; }

.mj-picture-tool .mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  opacity: .5; }

.mj-picture-tool .selection {
  position: absolute;
  height: 120px;
  width: 120px;
  top: 30px;
  left: 45px;
  background-position: -45px -30px;
  border-radius: 10px;
  cursor: move; }

.hybrid-input.inset-view {
  padding: 0;
  background: transparent; }

.hybrid-input.inset-view .mj-timeline-input .view-container {
  /* */ }

ul.location-list {
  padding: 0;
  margin-left: 10px; }

.location-list li.selected {
  list-style-type: none;
  background: url(/images/icons/location-selected.png) no-repeat 0 center;
  vertical-align: middle;
  font-size: .85em;
  padding-left: 24px; }

.mj-selected-area {
  position: absolute;
  background: url(/images/selected-area.png);
  height: 200px;
  width: 200px;
  z-index: 1000;
  margin-left: 150px;
  margin-top: 100px; }

.mj-activities {
  position: absolute; }

.mj-activities .activity {
  position: absolute;
  width: 16px;
  height: 27px;
  background: url(/images/icons/location.png);
  z-index: 1000; }

.mj-activities .activity.scoped {
  background: url(/images/icons/location-scoped.png); }

.mj-activity {
  background: white;
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 10px; }

.mj-activity:hover {
  background: #e1ecff; }

.mj-activity label {
  position: absolute;
  margin-top: 10px; }

.mj-activity input[type=checkbox] {
  vertical-align: middle; }

.mj-activity .checkbox-container {
  display: inline-block;
  vertical-align: top;
  padding-top: 8px; }

.mj-activity .activity-info {
  display: inline-block;
  padding-left: 40px;
  background: url(/images/icons/food-and-drinks_small.png) no-repeat 0 center; }

.mj-activity .activity-info .title {
  font-size: 1.15em; }

.mj-activity .activity-info .time-and-area {
  font-size: .75em; }

.mj-activity .host-info {
  display: inline-block; }

.host-info {
  margin-left: 300px; }

.host-info .picture {
  display: inline-block;
  vertical-align: top;
  margin-top: 8px;
  width: 48px;
  height: 48px;
  position: relative;
  border-radius: 5px;
  background: url(/images/anna-profile_small.jpg); }

.host-info .picture:hover .picture-feedback {
  display: none; }

.host-info .picture .picture-feedback {
  background: #00A837;
  color: white;
  border-radius: 1em;
  font-size: .55em;
  position: absolute;
  top: 2px;
  left: 2px;
  padding: 2px; }

.host-info .info {
  display: inline-block; }

.host-info .title {
  display: inline-block; }

.host-info .title .rating {
  font-size: 10px; }

.host-info .compatibility {
  display: inline-block;
  font-size: 1.55em; }

.host-info .ratings {
  display: block;
  font-size: .55em; }

.host-info .ratings em {
  font-size: 1.25em; }

h2 {
  margin-bottom: 0;
  font-weight: normal; }

.remaining-time {
  color: gray;
  font-size: 1.15em; }

.participants-view {
  margin-top: 20px;
  position: relative; }
  .participants-view .activity-box {
    position: absolute;
    width: 300px; }
    .participants-view .activity-box > .title {
      -moz-border-radius: 15px;
      -webkit-border-radius: 15px;
      border-radius: 15px;
      width: 150px;
      background: black;
      color: white;
      padding: 5px;
      text-align: center;
      margin: 0 auto;
      margin-bottom: -15px;
      z-index: 10;
      position: relative; }
    .participants-view .activity-box > .content {
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      background: white;
      padding: 25px 15px 10px;
      border: 1px dotted black; }
      .participants-view .activity-box > .content > div {
        margin-top: 10px; }
        .participants-view .activity-box > .content > div:first-of-type {
          margin-top: 0; }
    .participants-view .activity-box .user {
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      background: #F9F9F9;
      padding: 8px 10px;
      border: 2px solid gray; }
      .participants-view .activity-box .user > .picture {
        display: inline-block;
        vertical-align: middle;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        width: 48px;
        height: 48px;
        background-image: url(/images/anna-profile_small.jpg); }
      .participants-view .activity-box .user > .title {
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px; }
        .participants-view .activity-box .user > .title .name {
          font-size: 1.25em; }
        .participants-view .activity-box .user > .title .rating {
          font-size: .85em; }
    .participants-view .activity-box .spot {
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      padding: 8px 10px;
      border: 2px dashed gray;
      height: 32px; }

.participants-view .eject {
  position: absolute;
  width: 100px;
  top: 0;
  right: 0; }

.participants-view .participants {
  margin-left: 320px;
  margin-right: 120px;
  padding-bottom: 200px; }

.participants .host-info {
  margin-left: 0;
  background: #F9F9F9;
  padding: 8px 10px;
  border-radius: 5px;
  border: 2px solid gray; }

.participants > .current {
  cursor: -webkit-grab;
  cursor: grab; }

.participants > .incoming {
  padding: 16px 8px 10px;
  border-radius: 0 0 5px 5px;
  border: 2px dotted gray;
  border-bottom-style: solid;
  border-top: none;
  background: url(/images/incoming-bg.png) bottom repeat-x;
  margin-bottom: 10px;
  text-align: center;
  font-size: 1.25em;
  color: #333; }

.eject {
  text-align: center; }

.eject > .symbol {
  font-size: 32px;
  border: 2px dashed gray;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px; }

.eject > .title {
  color: white;
  background: black;
  padding: 5px 5px;
  border-radius: 15px;
  margin-top: 10px;
  font-size: .85em; }

/*
 * userhome
 */
.userhome-container > .header {
  position: relative;
  padding: 0 0 5px;
  border-bottom: 1px solid #f2f2f2; }
  .userhome-container > .header > h2 {
    margin-bottom: 0;
    padding-bottom: 0; }
  .userhome-container > .header > .links {
    position: absolute;
    right: 0;
    bottom: 5px; }
.userhome-container .body .row {
  position: relative; }
.userhome-container .body .section {
  margin-top: 15px; }
  .userhome-container .body .section.profile, .userhome-container .body .section.friends {
    float: left; }
  .userhome-container .body .section > .title, .userhome-container .body .section .heading > .title {
    padding-left: 5px;
    /*font-weight: bold;
    font-size: .85em;
    font-family: "Lucida Grande";*/ }
  .userhome-container .body .section .heading {
    position: relative; }
    .userhome-container .body .section .heading .extra {
      position: absolute;
      bottom: 0;
      right: 5px; }
  .userhome-container .body .section .content {
    border: 1px solid #e6e6e6;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: white;
    padding: 10px; }
  .userhome-container .body .section.profile .content, .userhome-container .body .section.friends .content {
    position: relative;
    height: 185px; }
  .userhome-container .body .section.profile {
    width: 515px;
    position: relative; }
    .userhome-container .body .section.profile .picture {
      position: absolute; }
      .userhome-container .body .section.profile .picture .pic96 {
        width: 96px;
        height: 96px;
        background: gray; }
      .userhome-container .body .section.profile .picture > .title {
        padding-top: 5px;
        font-size: .75em;
        text-align: center; }
    .userhome-container .body .section.profile .info {
      padding-left: 111px;
      font-size: .8em; }
      .userhome-container .body .section.profile .info dl {
        padding: 0;
        margin: 0; }
        .userhome-container .body .section.profile .info dl dt {
          padding-bottom: 10px;
          color: gray;
          position: absolute; }
        .userhome-container .body .section.profile .info dl dd {
          padding-bottom: 10px;
          margin-left: 120px; }
          .userhome-container .body .section.profile .info dl dd em {
            font-style: normal; }
  .userhome-container .body .section.friends {
    width: 370px;
    margin-left: 15px; }
    .userhome-container .body .section.friends ul {
      margin: 0;
      padding: 0;
      overflow-y: scroll; }
      .userhome-container .body .section.friends ul li {
        list-style-type: none;
        float: left;
        width: 80px;
        padding: 5px 0;
        margin: 0 10px 10px 0; }
        .userhome-container .body .section.friends ul li .pic48 {
          margin: 0 auto;
          width: 48px;
          height: 48px;
          background: gray; }
        .userhome-container .body .section.friends ul li .name {
          font-size: .75em;
          text-align: center;
          padding-top: 5px; }
  .userhome-container .body .section.dates .col-left, .userhome-container .body .section.dates .col-center, .userhome-container .body .section.dates .col-right {
    float: left; }
    .userhome-container .body .section.dates .col-left > .title, .userhome-container .body .section.dates .col-center > .title, .userhome-container .body .section.dates .col-right > .title {
      font-size: .9em;
      margin-bottom: 5px;
      color: gray; }
  .userhome-container .body .section.dates .col-center {
    width: 400px;
    margin: 0 15px; }
    .userhome-container .body .section.dates .col-center table {
      width: 100%;
      font-size: .5em;
      border-collapse: collapse; }
      .userhome-container .body .section.dates .col-center table th, .userhome-container .body .section.dates .col-center table td {
        border: 1px solid #e6e6e6; }
      .userhome-container .body .section.dates .col-center table th {
        width: 14.286%;
        background: #f9f9f9; }
      .userhome-container .body .section.dates .col-center table td {
        height: 200px; }
  .userhome-container .body .section.dates .col-left, .userhome-container .body .section.dates .col-right {
    width: 224px; }
    .userhome-container .body .section.dates .col-left > .title, .userhome-container .body .section.dates .col-right > .title {
      margin-bottom: 10px; }
    .userhome-container .body .section.dates .col-left .date, .userhome-container .body .section.dates .col-right .date {
      font-size: .85em; }
      .userhome-container .body .section.dates .col-left .date .time, .userhome-container .body .section.dates .col-right .date .time {
        font-size: .9em;
        margin-bottom: 5px; }
      .userhome-container .body .section.dates .col-left .date .preview, .userhome-container .body .section.dates .col-right .date .preview {
        color: #636363; }
      .userhome-container .body .section.dates .col-left .date .actions, .userhome-container .body .section.dates .col-right .date .actions {
        margin-top: 10px;
        font-size: .85em; }
        .userhome-container .body .section.dates .col-left .date .actions > div, .userhome-container .body .section.dates .col-right .date .actions > div {
          float: left;
          margin-right: 15px; }
    .userhome-container .body .section.dates .col-left .messages, .userhome-container .body .section.dates .col-right .messages {
      margin: 0;
      padding: 0;
      font-size: .85em; }
      .userhome-container .body .section.dates .col-left .messages li, .userhome-container .body .section.dates .col-right .messages li {
        margin-bottom: 10px;
        padding-left: 32px;
        list-style-type: none;
        background: left center no-repeat; }
        .userhome-container .body .section.dates .col-left .messages li.issue, .userhome-container .body .section.dates .col-right .messages li.issue {
          background-image: url(/images/icons/msg-issue.png); }
        .userhome-container .body .section.dates .col-left .messages li.question, .userhome-container .body .section.dates .col-right .messages li.question {
          background-image: url(/images/icons/msg-question.png); }
        .userhome-container .body .section.dates .col-left .messages li.review, .userhome-container .body .section.dates .col-right .messages li.review {
          background-image: url(/images/icons/msg-review.png); }
.userhome-container button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 14px/100% Arial, Helvetica, sans-serif;
  padding: .5em 2em .55em;
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  /* white */ }
  .userhome-container button:hover {
    text-decoration: none; }
  .userhome-container button:active {
    position: relative;
    top: 1px; }
  .userhome-container button.white {
    color: #606060;
    border: solid 1px #b7b7b7;
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#ededed));
    background: -moz-linear-gradient(top, white, #ededed);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed'); }
  .userhome-container button.white:hover {
    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#dcdcdc));
    background: -moz-linear-gradient(top, white, #dcdcdc);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc'); }
  .userhome-container button.white:active {
    color: #999;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(white));
    background: -moz-linear-gradient(top, #ededed, white);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff'); }
  .userhome-container button.small {
    font-size: 11px;
    padding: .2em 1em .275em; }
