/*
 * Vars
 */

$main-color: black;
$lighter-color: #231f20;
$paper-color: lighten($lighter-color, 86%);
$error-color: #cd5120;

$lighter-gray: #F2F2F2;
$light-gray: #F9F9F9;
$border-gray: #E6E6E6;
$dark-gray: #636363;

$light-blue: #E1ECFF;
$border-blue: darken(#E1ECFF, 15%);
$dark-blue: #0080FF;

$radio-background: $light-gray;
$radio-border: $border-gray;
$radio-checked-background: white;
$radio-checked-border: gray;

$info-color: #FFFDBF;
$info-border: #FF0;

$drop-shadow: 4px 4px 6px #888;
$inset-shadow: inset 0 0 16px #F0F0F0;

/*
 * Mixins
 */

// rounded corners
@mixin rounded($radius: 5px) {
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
	border-radius: $radius;
}

@mixin opacity($o) {
	filter: alpha(opacity = $o x 100);
	opacity: $o;
	-moz-opacity: $o;
}

@mixin slgradient($from, $to) {
	$white: rgba(255, 255, 255, 1);
	$transparent: rgba(255, 255, 255, 0);
	
	background: -moz-linear-gradient($from, $white, $transparent);
	background: -webkit-gradient(linear, $from center, $to center, from($white), to($transparent));
}

@mixin std_gradient($from, $to) {
	background: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
	background: -moz-linear-gradient(top,  $from,  $to);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='$from', endColorstr='$to');
}

// Mojo font, works with Typekit
@mixin mjfont {
	font-family: brevia-1, brevia-2, sans-serif;
}

// inset text
@mixin inset {
	text-shadow: 1px 1px 0px white;
}

// box shadow
@mixin boxshadow($shadow: $drop-shadow) {
	box-shadow: $shadow;
	-webkit-box-shadow: $shadow;
	-moz-box-shadow: $shadow;
}

// buttons
@mixin button {
	padding: 5px 10px;
	font-size: 1.05em;
	background: url(/images/buttons/button-submit.png);
	height: 35px;
	width: 115px;
	text-align: center;
	border: none;
	
	&:hover {
		background-position: 0 35px;
	}
	&:active {
		position:relative;
		top: 1px;
	}
	&:disabled {
		color: gray;
	}
}

// from http://www.webdesignerwall.com/tutorials/css3-gradient-buttons/
@mixin orange {
	
	color: #fcd3a5;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
		
	/*&:hover {
		background: #f47c20;
		background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
		background: -moz-linear-gradient(top,  #f88e11,  #f06015);
		filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
	}*/
	/*&:hover,*/ &.selected {
		color: #fef4e9;
		background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
		background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
		filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
	}
}
@mixin white {
	
	/*color: #606060;
	border: solid 1px #b7b7b7;
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	background: -moz-linear-gradient(top,  #fff,  #ededed);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
	
	&.selected {
		color: #999;
		background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
		background: -moz-linear-gradient(top,  #ededed,  #fff);
		filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
	}*/
	
	// testing
	color: black;
	border: outset 1px #9b9b9b;
	background: #fff;
	@include std_gradient(#fff, #e5e5e5);
	
	&.selected {
		background: #ededed;
		@include std_gradient(#f2f2f2, #d9d9d9);
	}
}
@mixin gray {
	
		color: #afafaf;
	border: solid 1px #555;
	background: #6e6e6e;
	background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757));
	background: -moz-linear-gradient(top,  #888,  #575757);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757');
		
	&.selected {
color: #e9e9e9;
		background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888));
		background: -moz-linear-gradient(top,  #575757,  #888);
		filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#888888');
	}
}
@mixin wdw-button {
	
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	//text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
		
	&:hover {
		text-decoration: none;
	}
	&:active {
		position: relative;
		top: 1px;
	}
	
	/* white */
	&.white {
		color: #606060;
		border: solid 1px #b7b7b7;
		background: #fff;
		@include std_gradient(#fff, #ededed);
	}
	&.white:hover {
		background: #ededed;
		@include std_gradient(#fff, #dcdcdc);
	}
	&.white:active {
		color: #999;
		@include std_gradient(#ededed, #fff);
	}
	
	/* mojo */
	&.mojo {
		color: black;
		border: outset 1px #9b9b9b;
		background: #fff;
		@include std_gradient(#fff, #e5e5e5);
	}
	&.mojo:hover {
		background: #ededed;
		@include std_gradient(#f2f2f2, #d9d9d9);
	}
	
	&.small {
		font-size: 11px;
		padding: .2em 1em .275em;
	}
}
@mixin mojo-color {
	
	color: black;
	border: outset 1px #9b9b9b;
	background: #fff;
	@include std_gradient(#fff, #e5e5e5);
	
	&:hover {
		background: #ededed;
		@include std_gradient(#f2f2f2, #d9d9d9);
	}
}

// vertical-box element
@mixin vertical-box {
	> .title {
		@include rounded(15px);
		width: 150px;
		background: black;
		color: white;

		padding: 5px;
		text-align: center;
		margin: 0 auto;
		margin-bottom: -15px;
		z-index: 10;
		position: relative;
	}
	> .content {
		@include rounded;
		background: white;
		padding: 25px 15px 10px;
		border: 1px dotted black;
		
		// TODO: move to user-box mixin
		> div {
			margin-top: 10px;
			&:first-of-type { margin-top: 0; }
		}
	}
}

// user element
@mixin user-box {
	@include rounded;
	background: #F9F9F9;
	padding: 8px 10px;
	border: 2px solid gray;
	
	> .picture {
		display: inline-block;
		vertical-align: middle;
		//@include rounded;
		width: 48px; height: 48px;
	}
	> .title {
		display: inline-block;
		vertical-align: middle;
		margin-left: 5px;

		.name { font-size: 1.25em; }
		.rating { font-size: .85em; }
	}	
}

/*
 * Drag and Drop (HTML5)
 */
[draggable=true] {
	-moz-user-select: none;
	-khtml-user-drag: element;
	cursor: move;
}
.drag-icon {
	padding: 8px;
	background: $light-gray;
	border: 1px solid $border-gray;
	@include rounded;
	opacity: .8;
	
	// required so drag and drop can pick up the CSS style
	// requires making sure there is a background on top
	position: absolute;
	z-index: -100;
}
.drop-loading {
	background: url(/images/ajax-loading.gif) no-repeat center center;
	
	> * {
		opacity: 0;
	}
}
.drag-over {
	background-color: $light-blue;
}

/*
 * General elements
 */

body {
	//background: -webkit-gradient(linear, center 80%, center bottom, from(white), to($border-gray));
	background-image: url(/images/body-gradient.png);
	background-color: #E6E6E6; // $light-gray
	background-repeat: repeat-x;
	background-position: bottom center;

	//font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: $main-color;
	
	padding: 0;
	margin: 0;
}

a {
	color: #0080FF;
	text-decoration: none;
	
	&:hover {
		background: #F1FCFF;
	}
}

#head-content,
#main-content,
#foot-content {
	

}

.auto-margin-cell {
	width: 900px;
	margin: 0 auto;
}

.clearing-block {
	clear: both;
	
	/*
	TODO: 
	use CSS3 clear-after
	or http://www.quirksmode.org/css/clearing.html
	or http://www.cs.hmc.edu/~mbrubeck/clear-after/
	*/
}

#head-content {
	background: black;
	color: white;

	padding-top: 8px; // changed from 9px?
	
	.auto-margin-cell {
		position: relative;
	}
	
	#logo-wrapper {
		color: transparent;
		font-size: 132.5%;
		overflow: hidden;
		position: relative;
		height: 23px;
		width: 64px;
		background: url(/images/mojo-logo.png);
		
		a {
			color: transparent;
			display: block;
			position: absolute;
			top: 0; right: 0; bottom: 0; left: 0;
			
			&:hover { background: transparent; };
		}
	}
	
	#auth-links {
		position: absolute;
		right: 0; bottom: 0;
		font-size: .80em;
		font-family: "Lucida Grande";
		font-weight: bold;
		padding-bottom: 4px;
		text-transform: lowercase;
		
		a {
			//@include mjfont;
			color: $border-gray;
			margin-left: 8px;
			
			display: inline-block;
			
			&:hover {
				background: transparent;
				color: white;
				//text-decoration: underline;
			}
		}
		
		.relative-container {
			position: relative;
			
			#login-bubble {
				display: none;
				position: absolute;
				right: 0;
				
				background: white;
				z-index: 10;
				background: -webkit-gradient(linear, center 80%, center bottom, from(white), to($border-gray));
				
				//display: inline-block;
				margin-left: 6px;
				@include rounded;
				//@include inset;
				color: $lighter-color;
				font-size: .75em;
				padding: 8px;
				margin-top: 15px;
				border: 2px outset black;

				&:before {
					content: "▴";
					font-size: 21px;
					color: black;
					position: absolute;
					margin-top: -29px;
					right: 10px;
				}
				
				div.space {
					margin: 8px 0;
				}
				
				input[type=text], input[type=password] {
					width: 150px;
				}
				
				button {
					@include wdw-button;
					color: black !important;
					padding: 3px 15px;
					cursor: default !important;
					
					position: absolute;
					right: 8px; bottom: 8px;
				}
			}
		}
	}
}

#main-content {
	//background: white;
	padding: 10px 0;
	min-height: 250px;
}

#foot-content {
	$foot-padding: 15px;
	
	margin-top: 25px;
	padding: 0 0 (8px + 25px); // 8px matching with #head-content top padding
	
	.auto-margin-cell {
		border-top: 1px solid $border-gray;
		position: relative;
		padding-top: 15px;
	}
	
	#copyright-notice {
		position: absolute;
		top: $foot-padding; right: 0;

		font-size: 70%;
		text-align: right;
		color: gray;
		@include inset;
	}
	
	.footer-links {

		//border-top: 1px solid $lighter-gray;

		a {

			color: gray;

			&:hover {
				background: transparent;
				text-decoration: underline;
			}
		}

		> .section {

			width: 135px;
			float: left;
			font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
			font-size: .80em;

			.title {
				font-weight: bold;
				color: $dark-gray;
				//@include inset;
			}

			ul {

				margin: .5em 0 0;
				padding: 0;
				line-height: 1.5em;

				li {
					list-style-type: none;
				}
			}
		}

		> .clearing-block {

			clear: both;
		}
	}
}

/*
 * Title elements
 */

h2, h3 {
	@include mjfont;
}

/*
 * Message boxes
 */

.msg-info {
	display: inline-block;
	margin-left: 6px;
	@include rounded;
	//@include inset;
	color: $lighter-color;
	font-size: .75em;
	padding: 8px;
	background: $info-color;
	margin-top: 6px;
	border: 1px outset #FF0;
	
	&:before {
		content: "▴";
		font-size: 32px;
		color: #FF0;
		position: absolute;
		margin-top: -36px;
	}
	
	//@include boxshadow(1px 1px 2px #888);
}

/*
 * Errors styling
 */

ul.errors {
	margin: 0;
	display: inline-block;
	background: $error-color;
	color: white;
	font-size: .85em;
	padding: 8px;
	@include rounded;
	margin-bottom: 5px;
	
	&:after {
		content: "▾";
		font-size: 24px;
		color: $error-color;
		position: absolute;
		margin-top: -5px;
	}
	
	li {
		list-style-type: none;
	}
}

/*
 * Special layouts
 */
.login-page {
	margin: 120px auto;
	width: 400px;
	
	h2 {
		margin-bottom: 10px;
	}
	
	.box {
		font-family: "Trebuchet MS";
		
		padding: 15px;
		@include rounded(10px);
		background: $lighter-gray;
		
		form {
			position: relative;
			
			label {
				color: #3F3F3F;
				@include inset;
				font-size: .85em;
			}
			
			.labeled-input {

				//display: inline-block;

				&:not(:first-of-type) {
					margin-top: 5px;
					//margin-left: 5px;
				}

				input {
					font-size: 1.15em;
					padding: 2px 4px;
					width: 210px;
				}
			}
			
			.labeled-checkbox {
				
				margin-top: 10px;
				display: inline-block;
				padding-right: 5px;
				
				&:hover{
					background: white;
					@include rounded;
				}
			}

			.submit {
				position: absolute;
				//text-align: right;
				bottom: 0; right: 0;

				button {
					@include button;
				}
			}
		}
	}
	
	.recover {
		font-size: .8em;
		margin-top: 10px;
		text-align: right;
	}
}

/*
 * Mockup elements
 */

/* usage flow comic, homepage */
#top-frame {
	position: relative;
	margin-bottom: 15px;
	
	.quick-start {
		position: absolute;
		right: 25px; top: 0;
		z-index: 1;
		
		padding: 10px;
	
		.opaque-layer {
			position: absolute;
			top: 0; bottom: 0;
			left: 0; right: 0;

			background: black;
			@include rounded(8px);
			opacity: .8;
			z-index: 0;
		}
		.content-layer {
			color: white;
			position: relative;
			
			form {
				margin-top: 6px;
				text-align: right;
			}
			
			.submit {
				margin-top: 6px;
				
				button {
					@include wdw-button;
					color: black !important;
					padding: 3px 15px;
					cursor: default !important;
				}
			}
		}
	}
}

#usage-flow-comic {
	margin-bottom: 25px;
	
	.step-panel {
		float: left;
		width: 288px;
		margin-right: 12px;

		border: 2px solid gray;
		@include rounded(8px);
		height: 280px;

		background: #EDEDED url(/images/sf_scene.jpg);
		position: relative;
		
		&:nth-of-type(2) {
			background-position: -300px 0;
		}
		&:last-of-type {
			margin-left: 608px;
			margin-right: 0;
			float: none;

			background-position: -600px 0;
			
			.caption {
				text-align: right;
			}
		}
		
		.caption {
			color: white;
			padding: 5px 10px;

			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			
			div.opaque-layer {
				position: absolute;
				top: 0; bottom: 0;
				left: 0; right: 0;

				background: gray;
				opacity: .8;
				z-index: 0;
			}
			
			div.text-layer {
				color: white;
				position: relative;
			}
		}
	}
}

#flow {
	$border: 2px;
	$usefull-width: (900px - 2*$border) / 4;
	
	margin-bottom: 25px;
	border: $border solid #BFBFBF;
	@include rounded(8px);
	
	.step {
		position: relative;
		width: $usefull-width;
		padding: 15px 0;
		
		img {
			width: 96px; height: 96px;
			margin-bottom: 10px;
		}
		.caption {}
		
		font-size: 80%;
		text-align: center;
		
		&:not(:last-of-type) {
			float: left;
		}
		
		&:last-of-type {
			margin-left: 3 * $usefull-width;
		}
		
		.link {
			position: absolute;
			top: 50%;
			margin-top: -35px;
			right: -15px;
			
			font-size: 25px;
			width: 30px;
			text-align: center;
			
			color: #ababab;
		}
	}
}

#testimonials {
	$border: 2px;
	$padding: 15px;
	$line: 1px;
	$usefull-width: (900px - 2*$border - 2*$line) / 3;
	
	border: $border solid #BFBFBF;
	@include rounded(8px);
	background: #F5F5F5;
	
	> div { // .block-n
		height: 100px;
		width: $usefull-width - 2*$padding;
		padding: $padding;
		
		&:not(:last-of-type) {
			border-right: $line solid #DDD;
			float: left;
		}
		
		&:last-of-type {
			margin-left: 2*$usefull-width + 2*$line;
			float: none;
		}
		
		div.bigsparkle {
			@include mjfont;
			font-size: 20pt;
			text-align: center;
			margin-top: 30px;
		}
	}
	
	.promo-block {
		position: relative;
		.title {
			position: absolute;
			left: 38px; top: 8px;
		}
		.text {
			color: #3F3F3F;
			font-size: 70%;
		}
	}
}

/* "Mojo is...", homepage */

#promo-twin-set {
	margin-top: 35px;
	position: relative;
}
#promo-twin-set .promo-panel {
	width: 400px;
	padding: 0 50px 0 0;
	border-right: 1px dashed gray;
}
#promo-twin-set .promo-panel:last-of-type {
	position: absolute;
	right: 0;
	top: 0;
	
	border-right: none;
	padding: 0 0 0 49px;
}

#promo-twin-set .promo-panel .startline,
#promo-twin-set .promo-panel .panel-title {
	font-size: 125%;
	@include mjfont;
}
#promo-twin-set .promo-panel .endline {
	text-align: right;
}
.promo-panel dl {
	margin-left: 36px;
	
}
.promo-panel dt img {
	position: absolute;
	margin-left: -38px;
	margin-top: 10px;
}
.promo-panel dd {
	margin-left: 0;
	margin-bottom: 10px;
	font-size: 80%;
	color: #6A6A6A;
	
	text-align: justify;
}

.promo-panel ol {
	padding-left: 1em;
}
.promo-panel ol li {
	margin-bottom: 10px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	position: relative;
}
.promo-panel ol li .bullet { 
	position: absolute;
	font-size: 22px;
	color: gray;
	top: -4px;
}
.promo-panel ol li .text { 
	display: block;
	margin-left: 1.75em;
}

// not used animore on homepage, could be recycled
.tab-widget {
	margin-top: 25px;
}

.tab-widget .tab-content {
	padding: 10px;
	border: 2px solid gray;
	border-radius: 0 8px 8px 8px;
	-webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	background: #F9F9F9;
	position: relative;
}

.tab-widget .tab-button {
	margin-bottom: -3px;
	position: relative;
}
.tab-widget .tab-button>div {
	display: inline-block;
	position: relative;
	top: 0;
	background: #ABABAB;
	color: white;
	
	border-radius: 8px 8px 0 0;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	border-bottom: none;
	padding: 5px 9px 3px;
	
	cursor: default;
}
.tab-widget .tab-button div.selected {
	background: gray;
	font-size: 1em;
	top: -3px;
}
.tab-widget .tab-button div:not(.selected):hover {
	background: #9B9B9B;
}

.stepflow-frame {
	padding: 0 50px;
	border: dashed #E6E6E6;
	border-width: 0 1px;
	
	.form-item {
		padding: 10px 15px;
		position: relative;
		
		&:not(:first-of-type) {
			border-top: 1px solid #CCC;
		}
	}
	
	// adding animation
	padding: 0;
	position: relative;
	overflow: hidden;
	
	#stepflow-blocks {
		width: 1796px; //? not supposed to be -? 6px off
		position: relative;
		left: 0;
		
		.form-inputs {
			border: 2px groove gray;
			@include rounded(8px);
			margin: 0 50px/*anim*/ 10px;
			padding: 5px 0;
			background: #F9F9F9;

			// anim
			width: 794px;
			display: inline-block;
			vertical-align: top;
		}
	}
	#stepflow-nav {
		margin: 0 50px;
	}
}

#anim .stepflow-frame {
	padding: 0;
	position: relative;
	overflow: hidden;
	
	.sliding {
		
		width: 1800px - 4px;
		position: relative;
		left: 0;
		
		// animate left from 0 to 898px
		
		> div {
			@include rounded;
			background: gray;
			color: white;
			width: 700px - 2px;
			margin: 0 50px;
			display: inline-block;
			
			height: 500px;
			padding: 50px;
		}
		
		
		.done {

		}
		.incoming {
			opacity: 0;
		}
	}
	
	> .gradient {
		position: absolute;
		top: 0; left: 0; right: 0; bottom: 0;
		
		> div {
			width: 50px;
			position: absolute;
			top: 0; bottom: 0;
		}
		
		> .left {
			left: 0;
			//@include slgradient(left, right);
		}
		
		> .right {
			right: 0;
			//@include slgradient(right, left);
		}
	}
}

.column-titles .form-item > .title {
	position: absolute;
	text-align: right;
	width: 125px;
}
.column-titles .form-item > .hybrid-input {
	margin-left: 150px;
	margin-top: 0;
	
	padding: 0;
	background: transparent;
}

.column-titles .form-item > .hybrid-input > input[type=text] {
	width: 400px;
}
.column-titles .form-item > .hybrid-input > textarea {
	width: 400px;
	height: 100px;
}


.stepflow-position {
	position: relative;
}
.stepflow-position button {
	padding: 5px 10px;
	font-size: 1.05em;
	background: url(/images/buttons/button-next.png);
	height: 35px;
	width: 183px;
	text-align: left;
	border: none;
}
.stepflow-position button.previous {
	background: url(/images/buttons/button-previous.png);
	text-align: left;
	padding-left: 20px;
}
.stepflow-position button:hover {
	background-position: 0 35px;
}
.stepflow-position button:active {
	position:relative;
	top: 1px;
}
.stepflow-position button:disabled {
	color: gray;
}
.stepflow-position .previous a {
	font-size: .80em;
}
.stepflow-position .previous {
	position: absolute;
	top: 0;
	left: 0;
}
.stepflow-position .next {
	position: absolute;
	top: 0;
	right: 0;
}
.stepflow-position .list {
	margin: 0 auto;
	position: relative;
	width: 210px;
}
.stepflow-position .list ol {
	margin: 0; padding: 0;
	width: 210px;
}
.stepflow-position .list li {
	float: left;
	width: 70px;
	list-style-type: none;
	
	text-align: center;
	font-size: .65em;
	padding: 0;
}
.stepflow-position .list li:first-of-type {
	text-align: right;
}
.stepflow-position .list li:last-of-type {
	text-align: left;
}
.stepflow-position .list li .step-bullet {
	font-size: 20px;
	padding-bottom: 5px;
}
.stepflow-position .list li {
	color: gray;
}
.stepflow-position .list li.current {
	color: black;
}

.stepflow-time-remaining {
	clear: both;
	text-align: center;
	padding-top: 12px;
	
	font-size: .70em;
	
	span {
		padding: 2px 6px;
		//border: 1px groove gray;
		background: #E6E6E6;
		color: gray;
		@include rounded(10px);
	}
}

.ajax-loading {
	position: relative;
	top: 6px;
	right: -220px;
	display: none;
}

// TODO: remove styling to hybrid-input
.hybrid-input {
	//background: white;
	margin-top: 10px;
	//padding: 5px;
	//-webkit-border-radius: 5px;
}
.mj-merged-choices.hybrid-input {
	margin-top: 0;
}

.hybrid-input .inset-title {
	position: absolute;
	color: gray;
	text-shadow: 1px 1px 0px white;
	font-size: .85em;
	background: #F9F9F9;
	border-radius: 5px;
	padding: 2px 5px;
}
.inline-radio-container {
	display: inline-block;
	padding: 12px 5px 12px 15px;
}
.clear-inline-radio-container {
	display: inline-block;
	padding: 0;
	background: transparent;
}
.clear-inline-radio-container input[type=radio] {
	display: none;
}

.vertical-radio-container {
	display: inline-block;
	padding: 12px 15px 2px;
	vertical-align: top;
	margin-right: 10px;
}
.vertical-radio-container label {
	display: block !important;
	margin: 0 0 10px !important;
}
.form-inputs input[type=text] {
	font-size: 1.2em;
}
.follow-container {
	display: inline-block;
}

/*
 * time range input
 */
.mj-timeline-input {
	position: relative;
	height: 56px;
	margin-top: 15px;
	
	button {
		position: absolute;
		height: 56px;
		width: 16px;
		top: 0;
		font-size: 10px;
		vertical-align: middle;
		line-height: 50px;
		padding: 3px;
		text-align: center;
		border: none;
		
		&.slide-after {
			right: 0;
			background: url(/images/buttons/timeline-slide-next.png);
		}
		&.slide-before {
			left: 0;
			background: url(/images/buttons/timeline-slide-prev.png);
		}
		&:hover {
			background-position: 0 56px;
		}
		&:disabled {
			color: gray;
			background-position: 0 0 !important;
		}
		&:not(:disabled):active {
			top: 1px;
		}
	}
	
	.view-container {
		position: absolute;
		left: 16px;
		right: 16px;
		background: $light-gray;
		top: 0;
		bottom: 0;
		overflow-x: hidden;
		
		.day-title {
			margin: 4px 8px 0;
		}
		
		.timeline-container {
			position: relative;
			width: 200%;
			
			.timeline-bar {
				background: white;
				border: solid gray;
				border-width: 1px 0 1px 0;
				height: 12px;
				margin: 0 8px;
			}
			
			.timeline-marks {
				position: absolute;
				top: 1px;
				z-index: 2;
				
				.mark {
					float: left;
					width: 49px; /* 24px on each side of the mark */
					position: relative;
					margin-left: 1px; /* +1px for the half-mark */
					
					.line {
						height: 12px;
						background: gray;
						width: 1px;
						margin: 0 auto;
					}
					
					.title {
						text-align: center;
						padding-top: 3px;
						font-size: .70em;
					}
					
					.line-quarter, .line-3rd-quarter {
						height: 6px;
						width: 0;
						border-left: 1px dotted gray;

						position: absolute;
						top: 6px;
						left: 36px;
					}
					
					.line-3rd-quarter {
						left: 60px;
					}
					
					.line-half {
						height: 10px;
						width: 0;
						border-left: 1px dotted gray;

						position: absolute;
						top: 2px;
						left: 48px;
					}
				} // end mark
			} // end timeline-marks
			
			.elapsed-and-current-time {
				height: 12px;
				width: 150px;
				background: #ccc;
				position: absolute;
				top: 1px;
				left: 8px;
				border-right: 2px solid red;
				z-index: 1;
			}
			
			.selected-time {
				width: 100px;
				background: #e1ecff;
				height: 18px;
				position: absolute;
				top: -2px;
				left: 300px;
				opacity: .8;
				cursor: move;
				z-index: 3;
				
				.start-hand, .stop-hand {
					
					width: 3px;
					height: 18px;
					background: #0080FF;
					position: absolute;
					cursor: ew-resize; /* make resize area bigger */
				}
				
				.start-hand { left: 0; }
				.stop-hand { right: 0; }
			}
		} // end timeline-container
		
		.activities {
			position: absolute;
			top: -18px;
			z-index: 2;
			left: 160px;
			
			.activity {
				position: absolute;
				color: gray;
				
				&.scoped { color: #0080FF; }
			}
		}
	} // end view-container
} // end mj-timeline-input 


/*
 * standard radio
 */
label.mj-choice {
	position: relative;
	display: inline-block;
	border: 2px solid $radio-border;
	@include rounded;
	vertical-align: middle;
	
	margin-right: 10px;
	background: $radio-background;
	color: gray;
	
	padding: 2px 8px;
	
	img {// remove
		vertical-align: middle;
	}
	input {
		vertical-align: middle;
		display: inline-block;
	}
	
	&.new {
		// not supported
		// white-space-collapsing: discard;
		position: relative;
		padding-left: 21px;
		margin-right: 5px;
		
		input {
			position: absolute;
			height: 20px;
			margin-top: -10px;
			top: 50%;
			left: 5px;
		}
	}
	
	.person {
		
		display: inline-block;
		text-align: center;
		width: 50px;
		
		.img {
			height: 32px;
			background: center 0 no-repeat;
			
			&.neutral {
				
			}
		}
		.title {
			font-size: .85em;
		}
		
		&.host {
			.img { background-image: url(/images/icons/person.png) }
			
			&.male {
				.img { background-image: url(/images/icons/guy.png) }
			}
			&.female {
				.img { background-image: url(/images/icons/gal.png) }
			}
		}
		&.guest {
			.img { background-image: url(/images/icons/person_guest.png) }
			.title { color: $border-gray; }
			
			&.male {
				.img { background-image: url(/images/icons/guy_guest.png) }
			}
			&.female {
				.img { background-image: url(/images/icons/gal_guest.png) }
			}
		}
		
		
	}
	
	&.selected {
		border-color: $radio-checked-border;
		background: $radio-checked-background !important;
		color: black;
		
		.person {
			
			&.guest .title { color: darken($border-gray, 10%); }
			
			&.host:hover {
				background: $light-blue;
				@include rounded;
				cursor: pointer;
			}
		}
	}
}

/*
 * merged radios
 */
.mj-merged-choices {
	
	display: inline-block;
	
	label {
		display: inline-block;
		position: relative;
		border: 1px solid $radio-border;
		background: $radio-background;
		color: gray;
		border-width: 1px 0 1px 0;
		padding: 2px 5px;
		
		&.selected {
			background: $radio-checked-background;
			border-color: $radio-checked-border;
			color: black;
		}
		
		&:first-of-type {
			border-left-width: 1px;
			@include rounded(5px 0 0 5px);
		};
		&:last-of-type {
			border-right-width: 1px;
			@include rounded(0 5px 5px 0);
		};
		
		> * {
			display: inline-block;
		}
		
		input {
			position: absolute;
			top: 50%;
			height: 20px;
			margin-top: -10px;
		}
		
		.person {
			margin-left: 20px;
			.img {
				text-align: center;
			}
			.title {
				font-size: .85em;
				text-align: center;
			}
		}
	}
}

.mj-operation-choices {
	display: table;
	margin: 15px auto 10px !important;
	
	> label {
		font-size: 1.25em;
		color: white;
		text-shadow: 0 1px 1px rgba(0,0,0,.3);
		@include rounded;
		@include boxshadow(0 1px 2px rgba(0,0,0,.2));
		@include gray;
		
		padding: 8px 10px 8px 5px;
		/*border: 2px #FF8000 outset;
		
		background: orange;*/
		
		input {
			vertical-align: center;
		}
		strong {
			font-weight: normal;
			font-size: 1.15em;
		}
		.count {
			font-size: .75em;
		}
		
		&.selected {
			/*background: white;
			border-style: inset;
			color: black;*/
		}
	}
}

/*
 * subset form
 */
.subset-form-arrow {
	content: "▴";
	font-size: 32px;
	color: gray;
	position: absolute;
	left: 54px;
	margin-top: -17px;
}
.subset-form {
	background: white;
	@include rounded;
	border: 1px outset gray;
	padding: 5px 8px;
	margin-top: 10px;
	position: relative;
	font-size: .85em;
	
	display: none;
	
	&.active {
		display: block;
	}
}

/*
 * grid
 */
.gridded-line {
	position: relative;
	margin: 10px 0;
	
	&.topsize-line {
		line-height: 35px;
		vertical-align: middle;
	}
	
	&.equalize-line {
		height: 60px;
	}
	
	.col-1, .col-2, .col-3 {
		position: absolute;
		top: 0;
	}
	.col-1 {
		left: 110px;
	}
	
	.col-2 {
		left: 250px;
	}
	
	.col-3 {
		left: 450px;
	}
}

.friend .gridded-line {
	
	.col-1 { left: 150px; }
	.col-2 { left: 370px; }
	.col-3 { left: 490px; }
}

/*
 * text inputs
 */
input.age-text-input {
	width: 2em;
}

label.mj-check-roll {
	
	padding: 2px;
	font-size: .85em;
	
	&:hover {
		background: $light-blue;
		@include rounded;
	}
}

.mj-height-input {
	
	
	display: inline-block;
	font-size: .85em;
	
	.ft-text-input { width: 1em; }
	.in-text-input { width: 2em; }
	
	.unit {
		color: gray;
	}
}

/*
 * selects drop-downs
 */
.mj-select-container {
	position: relative;
	display: inline-block;
	
	.after {
		color: white;
		position: absolute;
		right: 15px;
		top: 50%;
		margin-top: -10px;
		line-height: 20px;
		height: 20px;
		vertical-align: middle;
		
		border-left: 1px solid white;
		padding-left: 8px;
	}
}
select.mj-category-select {
	
	font-size: 1.25em;
	
	-webkit-appearance: none;
	border: solid 1px #555;
	padding: 15px (10px + 35px) 15px (10px + 32px + 15px);
	background: 10px center url(/images/icons/food-and-drinks_white.png) no-repeat,
		-webkit-gradient(linear, left top, left bottom, from(#888), to(#575757)),
		0 center url(/images/icons/food-and-drinks_white.png) no-repeat;
	color: #e9e9e9;
	
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	//@include rounded;
	@include boxshadow(0 1px 2px rgba(0,0,0,.2));
	
	&[value=food-and-drinks] { background-image: url(/images/icons/food-and-drinks_white.png); }
	&[value=entertainment] { background-image: url(/images/icons/entertainment_white.png); }
	&[value=outdoor] { background-image: url(/images/icons/outdoor_small.png); }
}
// still hacking drop down, remove afterr:
.afterr {
	color: white;
	position: absolute;
	top: 50%;
	right: 0;
}

.mj-location-input {
	position: relative;
	background: transparent;
	padding: 0;
	
	#map_canvas {
		height: 350px;
		margin-right: 250px;
		
		&.city-only {
			height: 250px;
		}
	}
	
	.map-side {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		width: 245px;
		
		.selected-subset {
			
			padding: 5px 8px;
			@include rounded;
			background: $light-gray;
			border: 1px solid $border-gray;

			.title {
				font-size: .85em;
				margin-bottom: 5px;
			}

			.item {

				.name { font-weight: bold; }
				.state { font-size: .85em; }

				min-height: 27px;
				background: url(/images/markers/location-selected.png) no-repeat 5px center;
				vertical-align: middle;
				font-size: .85em;

				background-color: white;
				padding: 5px 5px 5px (24px + 5px);
				@include rounded;
			}
			
			margin-bottom: 10px;
			
			&.operating {
				
				background: white;
			}
		}
		
		.search {
			
			
			input {
			
				width: 245px - 2*8px - 2px - 21px;
				font-size: .75em;
				border-radius: 12px;
				padding: 2px 2px 2px 19px;
				background: url(/images/icons/search.png) 4px center no-repeat white;
				
				&.tip {
					color: gray;
				}
			}
		}
	}
}

.mj-location-input.address-view {
	
	#map_canvas {
		height: 350px;
		margin-left: 250px;
		margin-right: 0;
	}
	
	.map-side {
		right: auto;
		left: 0;
	}
}

.hybrid-input .subinput {
	display: inline-block;
}
.hybrid-input .subinput .title {
	font-size: .75em;
	color: gray;
}
.hybrid-input .subinput input {
	//border-radius: 5px;
}
.form-inputs input[type=email] {
	font-size: 1.2em;
	width: 300px;
	//border-radius: 5px;
}
.form-inputs input.mj-input-phone {
	font-size: 1.3em;
	width: 200px !important;
	//border-radius: 5px;
}
.hybrid-input input[type=file] {
}
.hybrid-input .subinput select {
	font-size: 1.2em;
}

.mj-picture-tool {
	display: inline-block;
	position: relative;
	margin-top: 10px;
	height: 194px;
}
.mj-picture-tool .mask {
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	background: black;
	opacity: .5;
}
.mj-picture-tool .selection {
	position: absolute;
	height: 120px;
	width: 120px;
	top: 30px; left: 45px;
	background-position: -45px -30px;
	border-radius: 10px;
	cursor: move;
}

.hybrid-input.inset-view {
	padding: 0;
	background: transparent;
}
.hybrid-input.inset-view .mj-timeline-input .view-container {
	/* */
}

ul.location-list {
	padding: 0;
	margin-left: 10px;
}
.location-list li.selected {
	list-style-type: none;
	background: url(/images/icons/location-selected.png) no-repeat 0 center;
	vertical-align: middle;
	font-size: .85em;
	padding-left: 24px;
}

.mj-activity {
	background: white;
	border-radius: 5px;
	padding: 8px;
	margin-bottom: 10px;
	border: 1px outset $lighter-gray;
	
	// it's a label
	display: block;
	
	position: relative;
	
	&:hover {
		background: #e1ecff;
	}
	
	.checkbox {
		position: absolute;
		top: 0; left: 0;
		//background: $lighter-gray;
		border-bottom-right-radius: 5px;
		border-top-left-radius: 5px;
		border: 1px inset $border-gray;
		border-width: 0 1px 1px 0;
	}
	
	.point {
		// do not display, contain location data for map
		display: none;
	}
	
	.header {
		position: absolute;
		margin-top: 10px;
		margin-left: 20px;
	}
	
	.activity-marker {
		position: absolute;
		width: 24px; height: 24px;
		padding: 4px;
		//padding: 4px 3px 20px;
		background: #0080ff;
		@include rounded;
		margin-top: 3px;
		//background-image: url(/images/icons/full-activity-marker.png);
	}
	
	.checkbox-container {
		display: inline-block;
		vertical-align: top;
		padding-top: 8px;
	}
	
	.activity-info {
		display: inline-block;
		padding-left: 40px;
		//background: url(/images/icons/food-and-drinks_small.png) no-repeat 0 center;
		
		.title {
			font-size: 1.15em;
		}
		
		.time-and-area {
			font-size: .75em;
		}
	}
	
	.host-info {
		display: inline-block;
	}
}
.host-info {
	margin-left: 300px;
	
	.picture {
		display: inline-block;
		vertical-align: top;
		margin-top: 8px;
		width: 48px; height: 48px;
		position: relative;
		//border-radius: 5px;
		
		&:hover .picture-feedback {
			display: none;
		}
		.picture-feedback {
			background: #00A837;
			color: black;
			border-radius: 1em;
			font-size: .55em;
			position: absolute;
			top: 2px; left: 2px;
			padding: 2px;
		}
	}
	
	.info {
		display: inline-block;
	}
	.title {
		display: inline-block;
		
		.rating {
			font-size: 10px;
		}
	}
	.compatibility {
		display: inline-block;
		font-size: 1.25em;
		position: relative;
		
		// ua-generated pie image
		.canvas {
			//top:0; left:0;
			//width: 40px;
			//height: 40px;
			
		}
		.score {
			//z-index: 10;
			//z-index: 100;
			position: absolute;
			top: 0;
			opacity: .65;
			margin: 2px 2px 0;
			
			.percent {
				font-size: 80%;
			}
		}
	}
	.ratings {
		display: block;
		font-size: .55em;
		
		em {
			font-size: 1.25em;
		}
	}
}

h2 {
	margin-bottom: 0;
	font-weight: normal;
}
.remaining-time {
	color: gray;
	font-size: 1.15em;
}

.participants-view {
	margin-top: 20px;
	position: relative;
	
	.activity-box {
		position: absolute;
		width: 300px;
		
		@include vertical-box;
		
		.user {
			@include user-box;
		}
		
		.spot {
			@include rounded;
			padding: 8px 10px;
			border: 2px dashed gray;
			height: 32px;
		}
	}

	.participants-viewport {
		
		position: relative;
		height: 140px;
		overflow: hidden;
		margin-bottom: 200px;
		
		.participants {
			position: absolute;
			bottom: 0;
			left: 0; right: 0;
			
			margin-left: 320px;
			margin-right: 120px;

			.host-info {
				margin-left: 0;
				background: #F9F9F9;
				padding: 8px 10px;
				border-radius: 5px;
				border: 2px solid gray;
			}
			> .current {
				cursor: -webkit-grab;
				cursor: grab;
			}
			> .incoming {
				padding: 16px 8px 10px;
				border-radius: 0 0 5px 5px;
				border: 2px dotted gray;
				border-bottom-style: solid;
				border-top: none;
				background: url(/images/incoming-bg.png) bottom repeat-x;
				margin-bottom: 10px;
				text-align: center;
				font-size: 1.25em;
				color: #333;
			}
		}
	}

	.eject {
		position: absolute;
		width: 100px;
		top: 0; right: 0;

		text-align: center;

		> .symbol {
			font-size: 32px;
			border: 2px dashed gray;
			display: inline-block;
			padding: 5px 10px;
			border-radius: 5px;
		}
		> .title {
			color: white;
			background: black;
			padding: 5px 5px;
			border-radius: 15px;
			margin-top: 10px;
			font-size: .85em;
		}
	}
}

/*
 * userhome
 */
.userhome-container {
	
	
	
	> .header {
		
		position: relative;
		padding: 0 0 5px;
		border-bottom: 1px solid $lighter-gray;
		
		> h2 {
			margin-bottom: 0;
			padding-bottom: 0;
		}
		
		> .links {
			position: absolute;
			right: 0;
			bottom: 5px;
		}
	}
	
	.body {
		
		$section-spacing: 15px;
		
		// row is here so that adjacent sections have same height
		// FAIL
		.row {
			position: relative;
		}
		
		.section {
			
			&.profile, &.friends, &.quick-create, &.quick-join {
				float: left;
			}
			
			margin-top: $section-spacing;
			
			> .title, .heading > .title {
				padding-left: 5px;
				/*font-weight: bold;
				font-size: .85em;
				font-family: "Lucida Grande";*/
			}
			
			.heading {
				position: relative;
				
				.extra {
					position: absolute;
					bottom: 0; right: 5px;
				}
			}
			
			.content {
				border: 1px solid $border-gray; // outset looks really cool!
				@include rounded;
				background: white;
				padding: 10px;
				//@include boxshadow(0 1px 1px 1px gray);
			}
			
			&.profile .content/*, &.friends .content*/ {
				// TODO: find a smarter solution
				position: relative;
				height: 185px;
			}
			
			&.profile {
				width: 515px;
				position: relative;
				
				.picture {
					position: absolute;
					
					.pic96 {
						width: 96px; height: 96px;
						background: gray;
					}
					> .title {
						padding-top: 5px;
						font-size: .75em;
						text-align: center;
					}
				}
				.info {
					padding-left: 96px + 15px;
					font-size: .8em;
					
					dl {
						padding: 0;
						margin: 0;
						
						dt {
							padding-bottom: 10px;
							color: gray;
							position: absolute;
							//font-family: "Lucida Grande";
						}
						
						dd {
							padding-bottom: 10px;
							margin-left: 120px;
							
							em {
								font-style: normal;
								//font-size: 110%;
							}
						}
					}
				}
			}
			&.friends {
				width: 385px - $section-spacing;
				margin-left: $section-spacing;
				
				ul {
					margin: 0;
					padding: 0;
					overflow-y: scroll;
					
					// TODO: find a smarter solution
					position: relative;
					height: 185px;
					
					li {
						list-style-type: none;
						float: left;
						width: 80px;
						padding: 5px 0;
						margin: 0 10px 10px 0;
						//background: $light-gray;
						
						border: 1px solid transparent;
						&:hover {
							@include rounded;
							border-color: $lighter-gray;
						}
						
						.pic48 {
							margin: 0 auto;
							width: 48px; height: 48px;
							background: gray;
						}
						.name {
							font-size: .75em;
							text-align: center;
							padding-top: 5px;
						}
					}
				}
			}
			
			&.dates {
				.col-left, .col-center, .col-right {
					float: left;
					
					> .title {
						font-size: .9em;
						margin-bottom: 5px;
						color: gray;
					}
				}
				
				$col-center-width: 400px;
				$col-margins: 15px;
				.col-center {
					width: $col-center-width;
					margin: 0 $col-margins;
					
					table {
						width: 100%;
						font-size: .5em; //.70em
						border-collapse: collapse;
						
						th, td {
							border: 1px solid $border-gray;
						}
						th {
							width: 14.286%;
							background: $light-gray;
						}
						td {
							height: 200px;
						}
					}
				}
				.col-left, .col-right {
					width: (878px - $col-center-width - $col-margins * 2) / 2;
					> .title {
						margin-bottom: 10px;
					}
					
					.date {
						font-size: .85em;
						
						.time {
							font-size: .9em;
							margin-bottom: 5px;
						}
						.preview {
							color: $dark-gray;
						}
						.actions {
							margin-top: 10px;
							font-size: .85em;
							
							> div {
								float: left;
								margin-right: 15px;
							}
						}
					}
					
					.messages {
						margin: 0; padding: 0;
						//padding-left: 1.25em;
						font-size: .85em;
						
						li {
							margin-bottom: 10px;
							padding-left: 32px;
							list-style-type: none;
							background: left center no-repeat;
							
							&.issue { background-image: url(/images/icons/msg-issue.png); }
							&.question { background-image: url(/images/icons/msg-question.png); }
							&.review { background-image: url(/images/icons/msg-review.png); }
						}
					}
				}
			}
			
			&.quick-create {
				width: 450px - ($section-spacing / 2);
				position: relative;
				
				.smart-labeled-input {
					position: relative;
					
					.smart-label {
						color: gray;
						font-size: 18px;
						position: absolute;
						top: 5px; left: 5px;
					}
				}
				
				.description {
					textarea {
						padding: 2px;
						font-size: 1em;
					}
					
					.smart-label {
						font-size: 1em;
						top: 2px; left: 4px;
					}
				}
				
				.input-row {
					position: relative;
					margin-bottom: 10px;
					
					input[name=title] {
						width: 300px;
						font-size: 18px;
						padding: 2px;
					}
					
					textarea {
						width: 100%;
						height: 4em;
					}
				}
				
				.labeled {
					label {
						position: absolute;
						
					}
					.input {
						margin-left: 75px;
						
						.thumb {
							font-size: 75%;
							color: $lighter-color;
							@include rounded(15px);
							border: 1px outset $border-gray;
							background: $light-gray;
							padding: 2px 5px;
						}
					}
				}
				
				.submit {
					text-align: right;
					button {
						@include wdw-button;
						@include mojo-color;
						color: black !important;
						padding: 3px 15px;
						cursor: default !important;
					}
				}
				
				.mj-micro-select {
					
					// fix because of hybrid-input
					margin-top: 0;
					
					position: absolute;
					top: 0; right: 0;
					
					label {
						display: inline-block;
						height: 24px;
						width: 24px;
						
						padding: 3px 5px;
						background: gray;
						
						@include boxshadow(0 1px 2px rgba(0,0,0,.2));
						@include white;
						border: none;
						
						$radius-size: 12px;
						
						&:first-of-type {
							border-top-left-radius: $radius-size;
							border-bottom-left-radius: $radius-size;
						}
						&:last-of-type {
							border-top-right-radius: $radius-size;
							border-bottom-right-radius: $radius-size;
						}
						
						input {
							display: none;
						}
					}
				}
			}
			&.quick-join {
				width: 450px - ($section-spacing / 2);
				margin-left: $section-spacing;
				
				.content {
					padding: 0;
				}
				.header, .footer {
					padding: 5px 10px;
					background: $light-gray;
				}
				
				.header {
					border-bottom: 1px solid $border-gray;
				}
				.footer {
					border-top: 1px solid $border-gray;
					padding: 2px 10px;
					
					// todo: it is repeated...
					.submit {
						text-align: right;
						button {
							@include wdw-button;
							@include mojo-color;
							color: black !important;
							padding: 3px 15px;
							cursor: default !important;
						}
					}
				}
				.date-feed {
					padding: 10px;
					overflow-y: scroll;
					
					// todo: find smarter solution
					position: relative;
					height: 157px;
					
					ul {
						margin: 0;
						padding: 0;
						
						li {
							list-style-type: none;
							
							height: 50px;
							@include rounded;
							border: 1px outset $lighter-gray;
							margin-bottom: 10px;
							
							&:hover {
								background: $light-gray;
							}
						}
					}
				}
			}
		}
	}
	
	button {
		@include wdw-button;
	}
}

