<div class="hybrid-input">
	<!--<%= datetime_select 'obj', 'start_time', :default => @def_startdate %> (start)<br />
	<%= datetime_select 'obj', 'end_time', :default => @def_enddate %> (end)-->
	<div class="mj-timeline-input">
		<button class="slide-before" type="button" disabled="disabled">◀</button>
		<div class="view-container">
			<%
				now = Time.now
				t = Time.local(now.year, now.month, now.day)
				t.strftime("%i%p");
			%>
			<div class="day-title">Today</div>
			<div class="timeline-container">
				<div class="timeline-bar"></div>
				<div class="timeline-marks">
					<%
						for n in 0..24 do
					%>
					<div class="mark">
						<div class="line"></div>
						<div class="title"><%= t.strftime("%l%p").downcase %></div>
						<div class="line-quarter"></div>
						<div class="line-half"></div>
						<div class="line-3rd-quarter"></div>
					</div>	
					<%
							t += (60 * 60) # add 1 hour
						end
					%>
				</div>
				<%
					if (show_activities) then
				%>
				<div class="activities">
					<div class="activity" style="margin-left: 15px">●</div>
					<div class="activity" style="margin-left: 50px">●</div>
					<div class="activity" style="margin-left: 105px">●</div>
					<div class="activity scoped date-6" style="margin-left: 155px">●</div>
					<div class="activity scoped date-7" style="margin-left: 165px">●</div>
					<div class="activity scoped date-8" style="margin-left: 210px">●</div>
					<div class="activity" style="margin-left: 255px">●</div>
					<div class="activity" style="margin-left: 265px">●</div>
					<div class="activity" style="margin-left: 385px">●</div>
					<div class="activity" style="margin-left: 400px">●</div>
					<div class="activity" style="margin-left: 415px">●</div>
					<div class="activity" style="margin-left: 450px">●</div>
					<div class="activity" style="margin-left: 470px">●</div>
					<div class="activity" style="margin-left: 500px">●</div>
				</div>
				<%
					end
				%>
				<div class="elapsed-and-current-time"></div>
				<div class="selected-time" tabindex="0">
					<div class="start-hand" tabindex="0"></div>
					<div class="stop-hand" tabindex="0"></div>
				</div>
			</div>
		</div>
		<button class="slide-after" type="button">▶</button>
	</div>
</div>
