<div class="form-page">
	<h3>Create a date</h3>
	<%= form_for @sortie, :url => dates_path, :html => { :class => ['form-inputs', 'column-titles'] } do |f| %>
		<%= render :partial => "create", :locals => { :s => f } %>
		<div class="submit">
			<button type="submit" class="mj-button mojo">Create</button>
		</div>
	<% end %>
</div>
