<div class="form-inputs column-titles">
	
	<div class="form-item"> 
		<div class="title">Category</div> 
		<!-- TODO: fix to non-JS and arrows use, see: http://test.cita.illinois.edu/aria/radio/radio1.php --> 
		<div class="hybrid-input mj-select-container"> 
			<select name="type" class="mj-category-select">
				<option value="food-and-drinks">Food and Drinks</option>
				<option value="entertainment">Entertainment</option>
				<option value="outdoor">Outdoor</option>
			</select>
			<div class="after">▾</div>
		</div>


	</div> 
	<div class="form-item"> 
		<div class="title">Title</div> 
		<div class="hybrid-input"> 
			<input type="text" name="title" /> 
		</div> 
	</div> 
	<div class="form-item"> 
		<div class="title">Description</div> 
		<div class="hybrid-input"> 
			<textarea name="description"></textarea> 
		</div> 
	</div>
	<div class="form-item"> 
		<div class="title">Time</div> 
		<div class="hybrid-input"> 
			<%= datetime_select 'obj', 'time', :default => @def_starttime %>
		</div>
	</div> 
	<div class="form-item"> 
		<div class="title">Location</div> 
		<div class="hybrid-input mj-location-input address-view"> 
			<div id="map_canvas"></div> 
			<div class="map-side"> 
				<div class="selected-subset">
					<div class="title">City:</div>
					<div class="item">
						<div class="name">San Francisco, CA</div>
						<div class="state">Currently Selected</div>
					</div>
				</div>
				<div class="selected-subset operating">
					<div class="title">Address:</div>
					<div class="search"> 
						<input id="address" type="text" value="Search a biz, a place or an address" class="tip" /> 
					</div> 
					<div class="results">
					</div>
				</div>
			</div> 
		</div> 
	</div>

</div>
