<div class="form-inputs">
	
	<!-- add form_for to automate: mj_timerange "stepflow[timerange]", @stepflow.timerange -->
	<!-- pass @find_sorties -->
	<%= render :partial => "sorties/create", :locals => { :find_sorties => find_sorties } %>
	
</div>
