<div class="stepflow-frame">
	<%= form_for @stepflow, :url => url_for, :html => { :multipart => true } do |f| %>

		<div id="stepflow-blocks">
			<%= render :partial => ongoing_view, :locals => {:f => f} %>
		</div>
	
		<div id="stepflow-nav">
			<%= render :partial => 'nav', :locals => {:f => f} %>
		</div>

	<% end %>
	<iframe name="uploader" id="uploader" style="display: none;"></iframe>
</div>
