<div id="anim">
	<div class="stepflow-frame">
		<div class="sliding" id="animit">
			<div class="done">
			My text here
			</div><div class="incoming">
			Incoming frame
			</div>
		</div>
		<div class="gradient"><div class="left"></div><div class="right"></div></div>
	</div>
</div>
<button id="clickme">Hey!</button>

