<%= flash[:list] %>
<div class="stepflow-frame">

	<%= form_tag do %>
		
		<div class="form-inputs column-titles">
			
			<div class="form-item">
				<div class="title">Where?</div>
				<div class="hybrid-input mj-location-input">
					<div id="map_canvas"></div>
					<div class="location-search">
						<div class="search">
							<input name="p" id="address" type="text" value="San Francisco, CA">
						</div>
						<div class="results">
							Search results
						</div>
					</div>
				</div>
			</div>
			
		</div>
		
		<div class="stepflow-position">

			<div class="previous">
				<button type="submit" class="previous" formaction="stepflow.html">Create or Join?</button>
			</div>

			<div class="list">
				<ol>
					<li><div class="step-bullet">•</div><div class="label">Create or Join?</div></li>
					<li class="current"><div class="step-bullet">•</div><div class="label">Create Activity</div></li>
					<li><div class="step-bullet">○</div><div class="label">Profile Information</div></li>
				</ol>
			</div>

			<div class="next">
				<img class="ajax-loading" src="ajax-loading.gif" alt="loading..." /> <button type="submit">Profile information</button>
			</div>

		</div>
		
		<div class="stepflow-time-remaining">
			<span>1 more minute to completion...</span>
		</div>
		
	<% end %>
	
</div>
