<% if flash[:notice] %>
	<div class="thankyou"><em>Thank you!</em> We'll keep you updated, meanwhile you can share the  ♡:</div>
<% end %>
<div class="social-plugins">
	<div class="twitter">
		<a href="http://twitter.com/share" class="twitter-share-button" data-url="http://mojo.co" data-text="I am one of the first to sign-up for a Mojo beta-invite! Join me #mojodate" data-count="horizontal" data-via="mojo">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
	</div>
	<div class="facebook">
		<div id="fb-root"></div><fb:like href="http://mojo.co" send="true" width="260" show_faces="true" colorscheme="dark" font=""></fb:like>
	</div>
</div>
