@import "global";

.follow-action {
	
	display: inline-block;
	width: 124px + 32px;
	
	&.loading {
		background: url(/assets/ajax-loading.gif) no-repeat center left;
	}
	
	a {
		width: 124px;
		padding-left: 0; padding-right: 0;
	}
}
