//@import "global";

.mj-location-input {
	position: relative;
	background: transparent;
	padding: 0;
	
	#map_canvas {
		height: 350px;
		margin-right: 250px;
		
		&.city-only {
			height: 250px;
		}
	}
	
	// temporarly taken outside .map-side
	.selected-subset {
		
		padding: 5px 8px;
		@include rounded;
		background: $light-gray;
		border: 1px solid $border-gray;

		.title {
			font-size: .85em;
			margin-bottom: 5px;
		}

		.item {

			.name { font-weight: bold; }
			.state { font-size: .85em; }

			min-height: 27px;
			background: url(/assets/markers/location-selected.png) no-repeat 5px center;
			vertical-align: middle;
			font-size: .85em;

			background-color: white;
			padding: 5px 5px 5px (24px + 5px);
			@include rounded;
		}
		
		margin-bottom: 10px;
		
		&.operating {
			
			background: white;
		}
	}
	
	.map-side {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		width: 245px;
		
		
		
		.search {
			
			
			input {
			
				width: 245px - 2*8px - 2px - 21px;
				font-size: .75em;
				border-radius: 12px;
				padding: 2px 2px 2px 19px;
				background: url(/assets/icons/search.png) 4px center no-repeat white;
				
				&.tip {
					color: gray;
				}
			}
		}
	}
	
	&.place-view {

		#map_canvas {
			height: 350px;
			margin-left: 250px;
			margin-right: 0;
		}
		
		.search {
			position: relative;
			margin-bottom: 10px;
			
			.city {
				margin-left: 65%;
				//height: 25px;
				
				padding: 4px 8px;
				@include rounded;
				background: $light-gray;
				border: 1px solid $border-gray;
				
				font-size: .85em;
				
				.title {
					position: absolute;
					padding: 3px 0;
				}
				
				.selection {
					margin-left: 50px;
					padding: 3px 5px;
					
					background: white;
					@include rounded;
					
					@include thinfont;
					font-weight: bold;
				}
			}
			.input {
				position: absolute;
				top: 0;
				//padding: 5px 8px;
				
				//@include rounded;
				//background: $light-gray;
				//border: 1px solid $border-gray;
				
				.tip {
				}
				input, button {
					vertical-align: top;
					margin: 0;
				}
				input {
					width: 365px - 15px - 2px;
					padding: 4px;
					
					border-top-left-radius: 5px;
					border-bottom-left-radius: 5px;
					border-right: none;
					
					font-size: 18px;
				}
				button {
					$p: 8px;
					padding-left: $p; padding-right: $p;
					height: 33px;
					
					background: url(/assets/icons/search.png) no-repeat center center, -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
					box-shadow: none;
					
					border-top-left-radius: 0;
					border-bottom-left-radius: 0;
					
					color: transparent !important;
					
					&:hover  { background: url(/assets/icons/search.png) no-repeat center center, -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc)); }
					&:active { background: url(/assets/icons/search.png) no-repeat center center, -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff)); }
				}
			}
		}
		
		.map-and-results {
			position: relative;
			
			.results {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				width: 245px;
				overflow-y: auto;
				
				border: 1px solid $border-gray;
				//@include rounded;
				
				//background: white;
				
				&.loading {
					@include loading;
				}

				.result.mj-place {
					
					&:not(:last-of-type) {
						label { border-bottom: 1px solid $lighter-gray; }
					}
					
					label {
						display: block;
						position: relative;
						padding: 3px 3px;
						//@include rounded;
						background: $light-gray;
						//border: 2px solid white;
						
						&:hover {
							background: #e1ecff;
						}
						&.selected {
							background-color: white;
						}

						.input {
							position: absolute;

							//background-color: #ff3434;
							//@include rounded;
						}
						.place, .review {
							margin-left: 23px;
						}
						.place {
							//min-height: 27px;

							.title {
								//font-size: 1.2em;
							}
							.address {
								@include thinfont;
								font-size: .75em;
							}
						}
						.review {
							margin-top: 5px;
							font-size: .65em;
							
							a, img {
								vertical-align: middle;
							}
						}
					}
					
				}
			}
		}
		
		.powered-by {
			margin-top: 3px;
			font-size: .70em;
			img, span { vertical-align: middle; }
		}
	}
}
