<h3>Past dates</h3>
<div>
	Rate | Report
</div>
<h3>Upcoming dates</h3>
<div>
	Cancel | Late
</div>
<h3>Open dates</h3>
<div>
	Approve participants | *Waiting for your friend | Cancel
</div>
<h3>Dates invitations</h3>
<div>
	Accept | Decline
</div>
