<h3>Create a date</h3>
	<%= form_for @activity do |f| %>
<div class="form-inputs column-titles">
	
		<%= render :partial => "create", :locals => { :s => f } %>

</div>
		<button type="submit">Create</button>
	<% end %>
