<div class="result mj-place">
	<label>
		<div class="input"><input type="radio" name="stepflow[sortie_attributes][location]" value="business-yelp-<%= place.provider_id %>" /></div>
		<div class="place">
			<div class="title"><%= place.name %></div>
			<div class="address"><%= place.address %></div>
		</div>
	</label>
</div>
