<div class="footer-links">
	<div class="section">
		<div class="title">Help</div>
		<ul>
			<li><a href="mailto:support@mojo.co">Support</a></li>
			<!--
			<li><a href="#">How It Works</a></li>
			<li><a href="#">FAQ</a></li>
			-->
		</ul>
	</div>
	<div class="section">
		<div class="title">Follow Us</div>
		<ul>
			<!--<li><a href="http://blog.mojo.co">Blog</a></li>-->
			<li><a href="http://twitter.com/mojo">Twitter</a></li>
			<li><a href="http://www.facebook.com/mojodate">Facebook</a></li>
		</ul>
	</div>
	<div class="section">
		<div class="title">Company</div>
		<ul>
			<!--<li><a href="#">About Mojo</a></li>-->
			<li><a href="http://mojo.co/team">Team</a></li>
			<!--<li><a href="http://mojo.co/jobs">Jobs</a></li>-->
			<li><a href="mailto:hello@mojo.co">Contact</a></li>
		</ul>
	</div>
	<!--
	<div class="section">
		<div class="title">Legal</div>
		<ul>
			<li><a href="#">Privacy Policy</a></li>
			<li><a href="#">Terms</a></li>
		</ul>
	</div>
	-->
	<div class="clearing-block"></div>
</div>
<div id="copyright-notice">© 2011 Mojo Labs, Inc. - Patents Pending.</div>
