<% content_for :content do %>
	<div class="stepflow-frame"> 

		<%= form_tag request.request_uri do %>

			<div id="stepflow-blocks"> 
				<%= yield %>
			</div> 
			<div id="stepflow-nav">
				<%= render 'nav' %>
			</div>

		<% end %> 
	</div>
<% end %>
<%= render :file => 'layouts/application' %>
